.checkout-process-section .title p{
    margin-bottom: 50px;
}
.checkout-process-section {
    position: relative;
    z-index: 1;
    background: rgba(245,245,245 0.5);
}
.checkout-process-section .title{
    text-align: center;
}

/* ------------accordian-css----- */
.main-accordion {
	width: 100%;
    max-width: 760px;
    background: var(--accordian-bg);
    border: 1px solid var(--accordian-border); 
    box-shadow: 0px 7px 15px rgba(34, 37, 40, 0.05);
    border-radius: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 10px;
}
.accordion-heading{
    width: 100%;
    background: var(--accordian-head-bg);
    font-family: var(--PublicSans-SemiBold);
    font-size: 20px !important;
    line-height: 20px;
    color: var(--accordian-head-text);
    padding: 30px 0px 30px 45px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}
.active.accordion-heading{
    border-radius: 20px 20px 0px 0px;
}
.accordion-heading::before {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    top: 26px;
    right: 28px;
    transform: rotate(0deg);
    transition: 0.3s;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #FFCEC2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5512B;
    font-size: 15px !important;
    cursor: pointer;
}
.active.accordion-heading::before {
	transform: rotate(90deg);
    transition: 0.3s;   
}

.accordion-content{
   padding: 30px 30px 20px 45px;
   background: var(--accordian-bg);
   border-radius: 0px 20px 20px 20px ;
   display: none;  
}
.accordion-content label{
    font-family: var(--PublicSans-Medium);
    font-size: 16px !important;
    /* line-height: 20px; */
    color: var( --accordian-content-text-1);
    margin-bottom: 20px;
}
input:focus{
    box-shadow: none !important;
    border: 1px solid #C5CCD5 !important;   
} 
.accordion-content label span{
    color: var(--accordian-star);
}
.accordion-content-1 input{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid var(--accordian-border);
    box-shadow: 0px 4px 7px rgb(34 37 40 / 5%);
    border-radius: 16px;
    margin-bottom: 20px !important;
    padding-left: 25px;
    font-family: var(--PublicSans-Regular);
}

.accordion-content-1 input::placeholder{
    color: var(--light-gray) !important;
}

.accordion-content-1 input:focus{
    box-shadow: none;
    border: 1px solid var(--accordian-border) !important;
}
.accordion-content-1 input::placeholder{
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    line-height: 16px;
    color: var(--accordian-content-text-2);
}

.accordion-content-2{
    display: flex;
    gap: 30px;
    align-items: center;
}

.accordion-content-2 .form-check-input:checked[type=checkbox] {
    background-color: var(--primary-color) !important;
}

.radio-outer-line{
    border-radius: 90px;
    padding-top: 10px;
    padding-left: 50px !important;
}
.form-check-input:checked[type=radio]{
    background-image: url('../img/radio-dot-img.png') !important;
    background-size: 8px;
}
.form-check-input:checked[type=radio]~span{
    color: #F92672 !important;
}
.form-check-input:checked {
    background-color: transparent !important;
    border-color: #F5512B !important;
}
.form-check-input:focus{
    box-shadow: none !important;
}
.accordion-content-2 label span{
    color: var(--accordian-content-text-2) !important;
    margin-right: 10px;
    font-size: 20px !important;
}

.accordion-content-2 label span:hover{
    color: var(--primary-color) !important;
}

.accordion-content-2 label{
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    /* line-height: 16px; */
    color: var(--light-gray);
}


.accordion-content-3 label{
    font-family: var(--PublicSans-Medium);
    font-size: 16px !important;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 10px;
}

.accordion-content-3 input{
    border: 1px solid var(--accordian-border);
    box-shadow: 0px 4px 7px rgb(34 37 40 / 5%);
    border-radius: 10px;
    padding-left: 25px;
    margin-bottom: 30px;
    height: 60px;
}

.accordion-content-3 input:focus{
    box-shadow: none;
    box-shadow: 0px 4px 7px rgb(34 37 40 / 5%) !important;
    border: 1px solid var(--accordian-border) !important;
}

.accordion-content-3 input::placeholder{ 
    font-family: Poppins;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 16px;
    color: var(--accordian-content-text-2);
    text-transform: capitalize;
    font-family: var(--PublicSans-Regular) !important;
    color: var(--light-gray);
}

.main-accordion .form-check-input:checked[type=radio]{
    background: var(--primary-color) !important;
    border: var(--primary-color) !important;
}

.select-box select {
    color: var(--light-gray);
    border: 1px solid var(--accordian-border);
    box-shadow: 0px 4px 7px rgb(34 37 40 / 5%);
    border-radius: 10px;
    padding-left: 25px;
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    line-height: 16px;
    height: 60px;
    appearance: none;
    background-image: url(../img/selectarrow.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position-y: 19px;
    background-position-x: 285px;
    margin-bottom: 30px;
}

.select-box select:focus{
    box-shadow: none;
    box-shadow: 0px 4px 7px rgb(34 37 40 / 5%) !important;
    border: 1px solid var(--accordian-border) !important;

}

.save-btn{
    margin-top: 10px !important;
    margin-bottom: 20px;
}

.save-btn button{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    font-family: var(--PublicSans-SemiBold);
    font-size: 18px !important;
    line-height: 20px;
    color: var(--white) !important;
    transition: 0.3s;
    text-transform: capitalize;
}

.save-btn button:hover{
   background: transparent;
   border: 1px solid var(--primary-color);
   color: var(--primary-color) !important;
}


.dates-day-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;   
}
.dates-wrapper{
    width: 100px;
    height: 80px;
    background: #fff;
    border: 1px solid var(--accordian-border);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dates-wrapper h4{
    font-family: var(--PublicSans-SemiBold);
    font-size: 16px !important;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 3px;
    text-transform: capitalize;
}
.dates-wrapper p{
    font-family: var(--PublicSans-Regular);
    font-size: 12px !important;
    line-height: 16px;
    color: var(--accordian-content-text-1);
    margin-bottom: 0px;
    text-transform: capitalize;
}
.time-wrapper{
    display: flex;
    justify-content:center;
    gap: 40px;
    margin-top: 40px;
    background: var(--accordian-head-bg);
    padding: 20px;
    border-radius: 10px;
}
.time-wrapper label {
    margin-bottom: 0px;
}
.dates-day-wrapper .owl-theme .owl-nav [class*=owl-] {
    color: var(--white);
    font-size: 14px !important;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: none;
    cursor: pointer;
    border-radius: 3px;
}

.dates-day-wrapper .techno_checkbox{
    position: absolute;
    top: 2px;
    right: 39px;
    opacity: 0;
    width: 80px;
    height: 78px;
    z-index: 999;
    cursor: pointer;
    border-radius: 50% !important;
    border-radius: 66px !important;
}
/* .dates-day-wrapper .techno_checkbox:checked[type=radio]~.dates-wrapper{
    background: #2BAE4A;
} */



.mydiv-wrapper{
    width: 100%;
    max-width: 450px;
    /* height: 500px; */
    background: var(--common-white);
    border: 1px solid var(--accordian-border);
    border-radius: 20px;    
    overflow: hidden;
    /* overflow-y: scroll; */
    appearance: none;
    padding: 10px;
}

.mydiv-wrapper::-webkit-scrollbar{
   display: none;
} 

.mydiv-header{
    width: 100%;
    background: var(--accordian-head-bg);
    height: 60px;
    padding-top: 12px;
    padding-left: 40px;
    border-radius: 18px 18px 18px 18px;
}

.mydiv-header h3{
    font-family: var(--PublicSans-Bold);
    font-size: 24px !important;
    line-height: 36px;
    color: var(--accordian-content-text-1);
    text-transform: capitalize;

}
.order-wrapper{
    padding-top: 25px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--accordian-border);
    padding-bottom: 20px;
    
}

.order-wrapper-in{
   height: 600px;
   overflow-y: scroll;
}

.order-wrapper-in .order-wrapper:last-child{
    border-bottom: none;
}


.order-wrapper-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: var(--cart-image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.order-wrapper-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    /*max-width: 80px;
    */
}
.order-wrapper-text h4 a{
    font-family: var(--PublicSans-SemiBold);
    font-size: 16px !important;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    max-width: 300px;
}
.order-wrapper-text h5{
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--accordian-content-text-1);
}
.order-wrapper-text h3{
    font-family: var(--PublicSans-SemiBold);
    font-size: 18px !important;
    line-height: 36px;
    color: var(--primary-color);
}

.coupon-code-wrapper{
    width: 450px;
    background: var(--accordian-head-bg);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
    position: relative;
}
.coupon-code-wrapper h3 span{
    margin-right: 15px;
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    background: var(--white);
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.coupon-code-wrapper h3{
    font-family: var(--PublicSans-Regular);
    font-size: 15px !important;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 0px;

}
.coupon-code-wrapper h3 a{
    font-family: var(--PublicSans-Bold);
    font-size: 15px !important;
    line-height: 20px;
    color: var(--primary-color) !important;
    text-decoration: underline !important;
    padding-left: 5px;  
}
.check-out-tag-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 90px;
}


.have-code-part{
    margin-top: 40px;
}
.have-code-part label{
    font-family: var(--PublicSans-Regular);
    font-size: 16px !important;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 20px;
}
.have-code-part input {
    width: 100% !important;
    max-width: 448px !important;
    height: 60px !important;
    background: var(--white);
    border: 1px solid var(--primary-color)!important;
    box-shadow: 0px 4px 7px rgb(34 37 40 / 5%);
    border-radius: 16px !important;
    padding-left: 30px;
    display: inline;
}
.have-code-part .input-group-text {
    width: 180px !important;
    height: 60px !important;
    font-family: var(--PublicSans-SemiBold);
    font-size: 16px !important;
    font-weight: 600;
    line-height: 20px;
    color: #FFF !important;
    background: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    border-radius: 8px !important;
    position: relative;
    top: -60px;
    left: 270px;
    text-align: center !important;
    padding-left: 0 !important;
    z-index: 99;
    justify-content: center;
    transition: 0.5s;
}

.have-code-part .input-group-text:hover{
   transform: translateX(10px);
   -webkit-transform: translateX(10px);
   -moz-transform: translateX(10px);
   -ms-transform: translateX(10px);
   -o-transform: translateX(10px);
}
.place-order-btn{
    padding: 10px 36px 10px 36px;
    color: var(--proceed-checkout-btn-text) !important;
    background: var(--proceed-checkout-btn-bg);
    border: 1px solid var(--proceed-checkout-btn-bg);
    font-family: var(--PublicSans-SemiBold);
    font-size: 18px !important;
    line-height: 20px;
    border-radius: 10px;
    margin-top: 30px !important;
    transition: 0.3s;
    margin-left: 250px;
}
.place-order-btn:hover{
    background: transparent;
    border: 1px solid var(--proceed-checkout-btn-bg);
    color: var(--proceed-checkout-btn-bg) !important;
}
.checkout-order-detils .cart-totals-part{
    margin-bottom: 40px;
}
.our-secure-product{
    margin-top: 50px;
}

.secure-product-wrapper{
    width:100%;
    max-width: 424px;
    /* height: 100%; */
    background: var(--accordian-head-bg);
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 25px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 20px;
}
.secure-product-wrapper:hover{
    transform: translateY(-5px);
}
.secure-product-wrapper h3{
    font-family: var(--PublicSans-SemiBold);
    font-size: 20px !important;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 0px;

}
.our-secure-product{
   width: 100%;
   height: 100%;
}
.secure-product-wrapper .icon{
    position: relative;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secure-product-wrapper .icon svg{
    width: 100%;
    max-width: 30px;
}
.secure-product-wrapper .icon svg path{
    stroke: var(--primary-color) !important;
}

/* ------date-and-time-part------- */
.date-checked {
    position: relative;
}
.checked-div{ 
    position: absolute;
    opacity: 1;
    z-index: 999;
}
.checked-div {
    position: absolute;
    opacity: 0;
    z-index: 999;
    width: 100%;
    height: 119px;
    left: -16px;
    top: -16px;
}
.checked-div:checked[type=radio]~.dates-wrapper{
    background: var(--proceed-checkout-btn-bg) !important;
}
.checked-div:checked[type=radio]~.dates-wrapper h4{
    color: #fff;
}
.checked-div:checked[type=radio]~.dates-wrapper p{
    color: #fff;
}
.checkout-top-right-img{
    position: absolute;
    top: 200px;
    right: 0;
    width: 100%;
    max-width: 100px;
   opacity: 0.1;
   z-index: -1;
}
.checkout-mid-left-img{
    position: absolute;
    top: 800px;
    left: 0;
    width: 100%;
    max-width: 100px;
    z-index: -1;
}
.checkout-bottom-right-img{
    position: absolute;
    bottom: 150px;
    right: 0;
    width: 100%;
    max-width: 100px;
    opacity: 0.1;
    z-index: -1;
}






/* ---------- place order popup------------- */
.login-page{
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(91, 91, 91, 0.1);
    border-radius: 20px;
    padding-top: 100px;
    height: auto;
}
.login-page .center-img {
    position: relative !important;
    margin-bottom: 60px !important;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 400px;
}
.login-page .center-img img{
    display: block !important;
    margin: 0px auto;
    width: 100% ;
    max-width: 400px;
}
.login-page h2{
    font-family: var(--PublicSans-Bold);
    font-size: 40px !important;
    line-height: 50px;
    color: var( --modal-text-1);
    text-align: center;
}
.login-page h3{
    font-family: var(--PublicSans-Medium);
    font-size: 30px !important;
    line-height: 50px;
    color: var(--modal-text-2);
    text-align: center;
    margin-bottom: 40px;
}
.login-page p{
    font-family: var(--PublicSans-Medium);
    font-size: 16px !important;
    line-height: 25px;
    color: var(--modal-text-3);
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
}
.login-page h5{
    font-family: var(--PublicSans-Medium);
    font-size: 18px !important;
    line-height: 30px;
    color: var(--modal-text-3);
    margin-top: 30px;
    text-align: center;
}

.login-page h5 span{
    font-family: var(--PublicSans-Bold);
    font-size: 22px !important;
    line-height: 30px;
    color: var(--modal-text-1);
}
.login-center-border-img {
    position: absolute !important;
    top: 48px;
    left: 239px;
    width: 300px !important;
    z-index: 0;
}
.continue-btn{
    width: 100%;
    display: block;
    margin: 50px auto;
    text-align: center;  
}
.continue-btn a{
    padding: 20px 50px 20px 50px;
    background: var(--continue-btn-bg) ;
    border: 1px solid var(--continue-btn-bg);
    border-radius: 10px;
    font-family: var(--PublicSans-SemiBold);
    font-size: 16px !important;
    font-weight: 600;
    line-height: 20px;
    color: var(--continue-btn-text) !important;
    text-transform: capitalize;
    transition: 0.3s;
}
.continue-btn a:hover{
    background: transparent;
    border: 1px solid var(--continue-btn-bg);
    color: var(--modal-text-1) !important;
}


.close {
    float: right;
    line-height: 1;
    color: var(--close-btn);
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    position: absolute;
    right: 34px;
    top: 29px;
    z-index: 99;
    font-size: 30px !important;
    cursor: pointer;
}
.modal-content {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    animation-name: animatetop;
    animation-duration: 0.5s;
    margin-top: 100px;
    border-radius: 20px !important;
}

.modal {
    background: var(--modal-bg);
    padding: 0px 0px !important;
   
}
.modal .show{
    transition: 0.5s;
}


 
@keyframes animatetop{
from {top: -300px; opacity: 0}
to {top: 0px; opacity: 1}
} 


/* shopping-address */
.new-address button{
    background: var(--primary-color);
    font-family: var(--PublicSans-Regular);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--white) !important;
    padding: 12px 30px 12px 30px;
    border-radius: 90px;
    text-transform: capitalize;
    margin-bottom: 25px;
    transition: 0.5s;
    border: 1px solid var(--primary-color);
}


.ship-address{
    background: #fff;
    border: 1px solid var(--myaccoutn-tab-border);
    box-shadow: 0px 7px 15px rgba(34, 37, 40, 0.05);
    border-radius: 20px;
    padding: 45px 40px 37px 30px;
    position: relative;
    display: none;
}

.ship-close i{
    font-size: 20px;
}

.ship-close{
    border: none;
    background-color: transparent;
}

.address-wrapper{
    position: relative;
}

.accordion-content-3 .address-wrapper{
    padding: 35px 32px 37px 30px;
    position: relative;
}

.ship-address .text-end{
    position: absolute;
    right: 10px;
    top: 10px;
}

.address-wrapper .form-check-input:checked {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    height: 20px !important;
    width: 20px !important;
}


.ship-check .form-check-input:checked[type=checkbox] {
    background-repeat: no-repeat;
    height: 25px;
}

.ship-check .form-check-input[type=checkbox]{
    height: 20px;
    width: 20px;
    float: inherit !important;
}

.ship-check .form-check{
    border: 1px solid var(--myaccoutn-tab-border);
    /* max-width: 120px; */
    display: inline-block;
    margin-left: auto;
    padding: 8px;
    border-radius: 10px;
}

.ship-check .form-check .form-check-input{
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.ship-check .form-check-label{
    margin-bottom: 0;
    font-family: Poppins ;
    font-size: 16px;
    font-weight: 500;
    color: var(--listing-2-normal-text) !important;
    margin-bottom: 0px;
    margin-top: 3px;
    width: 90px;
}

.address-wrp{
    margin-top: 40px;
}


/* date-picker */
.datepicker.datepicker-inline{
    width: 100% !important;
}

.table-condensed{
    max-width: 300px !important;
    margin: 0 auto !important;
    border: 1px solid !important;
    padding: 30px !important;
}


.table-condensed thead tr:nth-child(2){
    border: 1px solid !important;
    /* background: #2BAE4A; */
}

.datepicker th.next, .datepicker th.prev{
    font-size: 25px !important;
}

.table-condensed thead .prev{
    margin-bottom: 10px !important;
}


.table-condensed th:nth-child(1) {
    padding-left: 18px !important;
}

.table-condensed .prev,
.table-condensed .datepicker-switch,
.table-condensed .next{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.table-condensed th:nth-child(1){
    min-width: 100% !important;
}

.table-condensed th {
    padding-left: 20px !important;
}

.table-condensed td{
    padding-left: 0px !important;
    padding-bottom: 0 !important;
    padding-top: 15px !important;
}

.table-condensed th:last-child{
    padding-right: 18px !important;
}

.table-condensed td:nth-child(1) {
    padding-left: 20px !important;
}

.table-condensed td:nth-child(2){
    padding-left: 10px !important;
}

.table-condensed td:nth-child(3){
    padding-left: 15px !important;
}

.table-condensed td:nth-child(4){
    padding-left: 15px !important;
}

.table-condensed td:nth-child(5){
    padding-left: 15px !important;
}

.table-condensed td:nth-child(6){
    padding-left: 15px !important;
}

.table-condensed td:nth-child(7){
    padding-left: 0px !important;
}

.table-condensed .new{
    padding-left: 10px !important;
}

.table-condensed .dow{
    padding-top: 10px !important;
}

.table-condensed tbody tr:last-child td{
    padding-bottom: 10px !important;
}

.datepicker .datepicker-switch:hover{
    background-color: transparent !important;
}

/* verify mobile css */
.otp-popup label{
    font-family: var(--PublicSans-Medium);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 10px;
}
.otp-popup .container{
    height: 100%;   
}
.otp-popup .modal-body{
   padding: 20px;
}
.otp-popup input{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: transparent;
    border-radius: 10px;
    margin-bottom: 0px !important;
    padding-left: 20px;
}
.otp-popup input:focus{
    border: transparent !important;
    box-shadow: none;
}
.otp-popup input:focus-visible{
    outline: none !important;
}
.otp-popup input::placeholder{
    font-family: var(--PublicSans-Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 10px;
}
.otp-popup .modal-content button{
    padding: 10px 20px !important;
    border-radius: 10px;
    height: 100%;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white);
    font-family: var(--PublicSans-Medium);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.5s;
}

.otp-popup .modal-content button:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.otp-popup .modal-content button:focus{
    box-shadow: none !important;
}

.otp-popup .modal-dialog{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-popup .modal-content{
    margin: 0px !important;
    margin-top: 0px !important;
    position: relative;
}

.otp-popup .btn-close{
    position: absolute;
    z-index: 20;
    right: 10px;
    top: 10px;
}

.otp-popup .btn-close:focus{
    box-shadow: none;
}

.otp-popup #mobileNumber{
    padding-top: 15px;
}

button.btn-close{
    background: none !important;
    border: none !important;
    color: #000 !important;
    opacity: 1 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 20px !important;
    height: 20px !important;
    text-align: right;
    position: relative;
}

.input-wrapper {
    border: 1px solid #999999;
    border-radius: 5px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
}
.input-wrapper span {
    color: var(--primary-color);
    margin-right: 20px;
    font-size: 20px;
}
.input-wrapper select.country_code {
    border: none;
    color: var(--accordian-content-text-1);
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    width: 70px;
    margin-left: -10px;
}
.input-wrapper select:focus-visible{
    outline: none !important;
}
.input-wrapper input {
    background: #FFFFFF;
    border: transparent;
    border-radius: 10px;
    margin-bottom: 0px !important;
    padding-left: 20px;
    font-family: var(--PublicSans-Medium);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--accordian-content-text-1);
    margin-bottom: 10px;
}

.verify-btn.lg-btn:hover{
   background-color: var(--primary-color) !important;
   color: var(--white) !important;
}


.delivery-method-wrap{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    background: var(--accordian-head-bg);
    font-family: var(--PublicSans-SemiBold);
    font-size: 20px !important;
    line-height: 20px;
    color: var(--accordian-head-text);
    padding: 25px 30px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}
.delivery-method-wrap label{
    font-family: var(--PublicSans-SemiBold);
    font-size: 20px;
    line-height: 20px;
    color: var(--heading-black);
}
.delivery-method-wrap .accordion-content-2{
    gap: 100px !important;
}
.delivery-method-wrap .form-check {
    display: flex;
    align-items: center;
}


/* =============resonsive======== */
/* =================================================== */
/* =================================================== */
@media screen and (min-width:1200px) and (max-width:1399px){
    .select-box select {
        font-size: 14px !important;
        height: 60px;
        appearance: none;
        background-image: url(../images/selectarrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-y: 19px;
        background-position-x: 235px;
        margin-bottom: 30px;
    }
    .time-wrapper {
        gap: 15px;
        margin-top: 40px;
    }
    .accordion-heading{
        font-size: 18px !important;
    }
    .accordion-heading::before{
        top: 25px;
    }
    .mydiv-header h3{
        font-size: 22px !important;
    }
    .accordion-content {
        padding: 30px 30px 20px 30px;
    }

    
    /* -------------place-order-css---------- */
.login-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(91 91 91 / 10%);
    border-radius: 20px;
    padding-top: 60px;
    height: auto;
}
.login-page .center-img img {
    display: block !important;
    margin: 0px auto;
    width: 100%;
    max-width: 200px;
}
.login-page .center-img {
    position: relative !important;
    margin-bottom: 60px !important;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 200px;
}

.login-page h2 {
    font-size: 30px !important;
}
.login-page h3 {
    font-size: 18px !important;
    margin-bottom: 20px;
}
.login-page p {
    font-size: 15px !important;
}
.login-page h5 {
    font-size: 16px !important;
}
.login-page h5 span {
 font-size: 18px !important;
}
.continue-btn {
    width: 100%;
    display: block;
    margin: 40px auto;
    text-align: center;
}
.continue-btn a {
    padding: 15px 30px 15px 30px;
    font-size: 15px !important;
}
}
/* =================================================== */
/* =================================================== */
@media screen and (min-width:992px) and (max-width:1199px){
    .select-box select {
        font-size: 14px !important;
        height: 45px;
        appearance: none;
        background-image: url(../images/selectarrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-y: 19px;
        background-position-x: 235px;
        margin-bottom: 30px;
    }
    .time-wrapper {
        gap: 0px;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .time-wrapper .form-check{
        width: calc(100% - 50%);
    }

    .accordion-heading{
        font-size: 18px !important;
    }
    .accordion-heading::before{
        top: 25px;
    }
    .mydiv-header h3{
        font-size: 22px !important;
    }
    .order-wrapper-img {
        width: 80px;
        height: 80px;
    }
    .order-wrapper-img img {
        width: 100%;
        /* max-width: 60px; */
    }
    .accordion-content-1 input{
        width: 100%;
    }
    .select-box select {
        background-position-x: 150px;
    }
    .checkout-process-section .cart-totals-part {
        margin-left: 20px;
        margin-top: 30px;
    }
    .secure-product-wrapper{
        margin: 0px auto;
        margin-bottom: 20px !important;
    }
    
    /* -------------place-order-css---------- */
    .login-page {
        width: 100%;
        max-width: 800px;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgb(91 91 91 / 10%);
        border-radius: 20px;
        padding-top: 60px;
        height: auto;
    }
    .login-page .center-img img {
        display: block !important;
        margin: 0px auto;
        width: 100%;
        max-width: 200px;
    }
    
    
    .login-page .center-img {
        position: relative !important;
        margin-bottom: 60px !important;
        margin: 0px auto;
        position: relative;
        width: 100%;
        max-width: 200px;
    }
    
    .login-page h2 {
        font-size: 30px !important;
    }
    .login-page h3 {
        font-size: 18px !important;
        margin-bottom: 20px;
    }
    .login-page p {
        font-size: 15px !important;
    }
    .login-page h5 {
        font-size: 16px !important;
    }
    .login-page h5 span {
     font-size: 18px !important;
    }
    .continue-btn {
        width: 100%;
        display: block;
        margin: 40px auto;
        text-align: center;
    }
    .continue-btn a {
        padding: 15px 30px 15px 30px;
        font-size: 15px !important;
    }   

}

/* =================================================== */
/* =================================================== */
@media screen and (min-width:768px) and (max-width:991px){
    .select-box select {
        font-size: 14px !important;
        height: 45px;
        appearance: none;
        background-image: url(../images/selectarrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-y: 19px;
        background-position-x: 235px;
        margin-bottom: 30px;
    }
    .time-wrapper {
        gap: 0px;
        margin-top: 40px;
        flex-direction: column;
    }
    .accordion-heading {
        font-size: 18px !important;
        padding: 20px 0px 20px 20px;
    }    
    .accordion-heading::before {
        top: 15px;
    }
    .accordion-content {
        padding: 20px 20px 20px 20px;
    }
    .mydiv-header h3 {
        font-size: 20px !important;
    }       
    .order-wrapper-img {
        width: 100%;
        max-width: 80px !important;
        height: 80px;
    }
    .coupon-code-wrapper{
        width: 100%;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .have-code-part label{
        font-size: 15px !important;
    }
    .have-code-part .input-group-text {
        left: 210px;
        width: 130px !important;
        padding-left: 44px !important;
    }
    .coupon-code-wrapper h3 span{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .coupon-code-wrapper h3{
        font-size: 12px !important;
    }
    .coupon-code-wrapper h3 a{
        font-size: 12px !important;
    }
    .order-wrapper-img img {
        width: 100%;
        /* max-width: 60px; */
    }
    .accordion-content-1 input{
        width: 100%;
    }
    .select-box select {
        background-position-x: 250px;
    }
    .dates-wrapper {
        width: 80px;
        height: 80px;
    }
    .checkout-process-section .cart-totals-part {
        margin-left: 1px;
        margin-top: 0px;
    }
    .accordion-content-2{
        flex-direction: column;
        gap: 10px;
        justify-content: left !important;
        align-items: flex-start;
    }
    .accordion-content-2 label{
        margin-bottom: 0px;
    }
    .secure-product-wrapper{
        margin: 0px auto;
        margin-bottom: 20px !important;
    }
    .secure-product-wrapper h3{
        font-size: 18px !important;
    }
    .place-order-btn {
        padding: 10px 30px 10px 30px;
        font-size: 16px !important;
        margin-left: 176px !important;
    }
    
    
   /* -------------place-order-css---------- */
   .login-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(91 91 91 / 10%);
    border-radius: 20px;
    padding-top: 60px;
    height: auto;
    }
    .login-page .center-img img {
        display: block !important;
        margin: 0px auto;
        width: 100%;
        max-width: 150px;
    }


    .login-page .center-img {
        position: relative !important;
        margin-bottom: 60px !important;
        margin: 0px auto;
        position: relative;
        width: 100%;
        max-width: 150px;
    }

    .login-page h2 {
        font-size: 30px !important;
    }
    .login-page h3 {
        font-size: 18px !important;
        margin-bottom: 20px;
    }
    .login-page p {
        font-size: 15px !important;
    }
    .login-page h5 {
        font-size: 16px !important;
    }
    .login-page h5 span {
    font-size: 18px !important;
    }
    .continue-btn {
        width: 100%;
        display: block;
        margin: 40px auto;
        text-align: center;
    }
    .continue-btn a {
        padding: 15px 30px 15px 30px;
        font-size: 15px !important;
    } 

    .order-wrapper-in{
        height: 500px;
    }

}
/* =================================================== */
/* =================================================== */
@media screen and (min-width:576px) and (max-width:767px){
    .select-box select {
        font-size: 14px !important;
        height: 45px;
        appearance: none;
        background-image: url(../images/selectarrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-y: 19px;
        background-position-x: 235px;
        margin-bottom: 30px;
    }
    .time-wrapper {
        display: flex;
        gap: 0px;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .time-wrapper .form-check{
        width: calc(100% - 50%);
    }

    .accordion-heading {
        font-size: 18px !important;
        padding: 20px 0px 20px 20px;
    }    
    .accordion-heading::before {
        top: 15px;
    }
    .accordion-content {
        padding: 20px 20px 20px 20px;
    }
    .mydiv-header h3 {
        font-size: 20px !important;
    }       
    .order-wrapper-img {
        width: 100%;
        max-width: 80px !important;
        height: 80px;
    }
    .coupon-code-wrapper{
        width: 100%;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .have-code-part label{
        font-size: 15px !important;
    }
    .have-code-part .input-group-text {
        left: 339px;
    }
    .coupon-code-wrapper h3 span{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .coupon-code-wrapper h3{
        font-size: 14px !important; 
    }
    .coupon-code-wrapper h3 a{
        font-size: 14px !important;
    }
    .order-wrapper-img img {
        width: 100%;
        /* max-width: 60px; */
    }
    .accordion-content-1 input{
        width: 100%;
    }
    .select-box select {
        background-position-x: 430px;
    }
    .mydiv-wrapper {
        width: 100%;
        max-width: 100%;
        height: 500px;
    }
    .order-wrapper{
        gap: 30px;
    }
    .have-code-part input {
        width: 100% !important;
        max-width: 100% !important;
    }
    .dates-wrapper {
        width: 80px;
        height: 80px;
    }
    .checkout-process-section .cart-totals-part {
        margin-left: 1px;
        margin-top: 0px;
    }
    .accordion-content-2 {
        flex-direction: row;
        gap: 10px;
        justify-content: left !important;
        align-items: flex-start;
    }
    .accordion-content-2 label{
        margin-bottom: 0px;
    }
    .secure-product-wrapper{
        margin: 0px auto;
        margin-bottom: 20px !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .secure-product-wrapper h3{
        font-size: 18px !important;
    }
    .place-order-btn {
        padding: 10px 30px 10px 30px;
        font-size: 16px !important;
        margin-left: 0px;
    }
    
 /* -------------place-order-css---------- */
 .login-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(91 91 91 / 10%);
    border-radius: 20px;
    padding-top: 60px;
    height: auto;
}
.login-page .center-img img {
    display: block !important;
    margin: 0px auto;
    width: 100%;
    max-width: 150px;
}


.login-page .center-img {
    position: relative !important;
    margin-bottom: 60px !important;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 150px;
}

.login-page h2 {
    font-size: 30px !important;
}
.login-page h3 {
    font-size: 18px !important;
    margin-bottom: 20px;
}
.login-page p {
    font-size: 15px !important;
}
.login-page h5 {
    font-size: 16px !important;
}
.login-page h5 span {
 font-size: 18px !important;
}
.continue-btn {
    width: 100%;
    display: block;
    margin: 40px auto;
    text-align: center;
}
.continue-btn a {
    padding: 15px 30px 15px 30px;
    font-size: 15px !important;
} 

}

@media only screen and (max-width:575px){
    .have-code-part .input-group-text{
        flex-direction: column;
        top: 0;
        margin-top: 10px;
        left: 0;
        padding-left: 0 !important;
        line-height: 45px;
    }
}
/* =================================================== */
/* =================================================== */
@media screen and (min-width:425px) and (max-width:575px){
    .checkout-process-section{
        padding-bottom: 50px;
    }
    .select-box select {
        font-size: 14px !important;
        height: 45px;
        appearance: none;
        background-image: url(../images/selectarrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-y: 19px;
        background-position-x: 235px;
        margin-bottom: 30px;
    }
    .time-wrapper {
        gap: 0px;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .time-wrapper .form-check{
        width: calc(100% - 50%);
    }

    .accordion-heading {
        font-size: 18px !important;
        padding: 20px 0px 20px 20px;
    }    
    .accordion-heading::before {
        top: 15px;
    }
    .accordion-content {
        padding: 20px 20px 20px 20px;
    }
    .mydiv-header h3 {
        font-size: 20px !important;
    }       
    .order-wrapper-img {
        width: 100%;
        max-width: 80px !important;
        height: 80px;
    }
    .coupon-code-wrapper{
        width: 100%;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .have-code-part label{
        font-size: 15px !important;
    }
    /* .have-code-part .input-group-text {
        left: 372px;
    }  */
    .coupon-code-wrapper h3 span{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .coupon-code-wrapper h3{
        font-size: 14px !important;
    }
    .coupon-code-wrapper h3 a{
        font-size: 14px !important;
    }
    .order-wrapper-img img {
        width: 100%;
        /* max-width: 60px; */
    }
    .accordion-content-1 input{
        width: 100%;
    }
    .select-box select {
        background-position-x: 470px;
    }
    .mydiv-wrapper {
        width: 100%;
        max-width: 100%;
        height: 500px;
    }
    .order-wrapper{
        gap: 30px;
    }
    /* .have-code-part input {
        width: 100% !important;
        max-width: 100% !important;
    } */
    .dates-wrapper {
        width: 80px;
        height: 80px;
    }
    .checkout-process-section .cart-totals-part {
        margin-left: 1px;
        margin-top: 0px;
    }
    .accordion-content-2 {
        flex-direction: row;
        gap: 10px;
        justify-content: left !important;
        align-items: flex-start;
    }
    .accordion-content-2 label{
        margin-bottom: 0px;
    }
    .secure-product-wrapper{
        margin: 0px auto;
        margin-bottom: 20px !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .secure-product-wrapper h3{
        font-size: 18px !important;
    }
    .place-order-btn {
        padding: 10px 30px 10px 30px;
        font-size: 16px !important;
        margin-left: 0px;
    }
    
 /* -------------place-order-css---------- */
 .login-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(91 91 91 / 10%);
    border-radius: 20px;
    padding-top: 60px;
    height: auto;
}
.login-page .center-img img {
    display: block !important;
    margin: 0px auto;
    width: 100%;
    max-width: 150px;
}


.login-page .center-img {
    position: relative !important;
    margin-bottom: 60px !important;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 150px;
}

.login-page h2 {
    font-size: 30px !important;
}
.login-page h3 {
    font-size: 18px !important;
    margin-bottom: 20px;
}
.login-page p {
    font-size: 15px !important;
}
.login-page h5 {
    font-size: 16px !important;
}
.login-page h5 span {
 font-size: 18px !important;
}
.continue-btn {
    width: 100%;
    display: block;
    margin: 40px auto;
    text-align: center;
}
.continue-btn a {
    padding: 15px 30px 15px 30px;
    font-size: 15px !important;
}

}
/* =================================================== */
/* =================================================== */
@media screen and (min-width:320px) and (max-width:424px){
    .checkout-process-section{
        padding-bottom: 50px;
    }
    .select-box select {
        font-size: 14px !important;
        height: 45px;
        appearance: none;
        background-image: url(../images/selectarrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-y: 19px;
        background-position-x: 235px;
        margin-bottom: 30px;
    }
    .time-wrapper {
        gap: 0px;
        margin-top: 40px;
        flex-direction: column;
    }
    .accordion-heading {
        font-size: 16px !important;
        padding: 20px 0px 20px 20px;
    }    
    .accordion-heading::before {
        top: 15px;
    }
    .order-wrapper-text h4 a{
        font-size: 15px !important;
    }
    .accordion-content {
        padding: 20px 20px 20px 20px;
    }
    .mydiv-header h3 {
        font-size: 20px !important;
    }       
    .order-wrapper-img {
        width: 100%;
        max-width: 70px !important;
        height: 80px;
    }    
    .coupon-code-wrapper{
        width: 100%;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .have-code-part label{
        font-size: 15px !important;
    }
    .have-code-part .input-group-text {
        left: 0;
        width: 100px !important;
        /* padding-left: 31px !important; */
        font-size: 14px !important;
        padding-right: 0 !important;
    }    
    .coupon-code-wrapper h3 span{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 5px;
    }
    .coupon-code-wrapper h3{
        font-size: 11px !important;
    }
    .coupon-code-wrapper h3 a{
        font-size: 11px !important;
    }
    .order-wrapper-img img {
        width: 100%;
        /* max-width: 60px; */
    }
    .accordion-content-1 input{
        width: 100%;
    }
    .select-box select {
        background-position-x: 220px;
    }
    .mydiv-wrapper {
        width: 100%;
        max-width: 100%;
        height: 500px;
    }
    .order-wrapper{
        gap: 30px;
    }
    /* .have-code-part input {
        width: 100% !important;
        max-width: 100% !important;
    } */
    .dates-wrapper {
        width: 80px;
        height: 80px;
    }
    .checkout-process-section .cart-totals-part {
        margin-left: 1px;
        margin-top: 0px;
    }
    .accordion-content-2 {
        flex-direction: column;
        gap: 10px;
        justify-content: left !important;
        align-items: flex-start;
    }
    .accordion-content-2 label{
        margin-bottom: 0px;
    }
    .secure-product-wrapper{
        margin: 0px auto;
        margin-bottom: 20px !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .secure-product-wrapper h3{
        font-size: 16px !important;
    }
    .secure-product-wrapper .icon{
        width: 40px;
        height: 40px;
    }
    .place-order-btn {
        padding: 10px 30px 10px 30px;
        font-size: 16px !important;
        margin-left: 0px;
    }
    
 /* -------------place-order-css---------- */
 .login-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(91 91 91 / 10%);
    border-radius: 20px;
    padding-top: 60px;
    height: auto;
}
.login-page .center-img img {
    display: block !important;
    margin: 0px auto;
    width: 100%;
    max-width: 150px;
}


.login-page .center-img {
    position: relative !important;
    margin-bottom: 30px !important;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 150px;
}

.login-page h2 {
    font-size: 30px !important;
    line-height: 25px !important;
}
.login-page h3 {
    font-size: 18px !important;
    margin-bottom: 20px;
    line-height: 25px;
}
.login-page p {
    font-size: 15px !important;
    line-height: 20px;
}
.login-page h5 {
    font-size: 16px !important;
    margin-top: 20px;
}
.login-page h5 span {
 font-size: 18px !important;
}
.continue-btn {
    width: 100%;
    display: block;
    margin: 40px auto;
    text-align: center;
}
.continue-btn a {
    padding: 15px 30px 15px 30px;
    font-size: 15px !important;
}

.table-condensed th{
    padding-left: 10px !important;
}

}
/* =================================================== */
/* =================================================== */

