.rtl .navbrand {
    text-align: right;
}

.rtl .location-wrap::after {
    right: inherit !important;
    left: 10px !important;
}

.rtl .section-title h1 {
    text-align: right;
}

.rtl .see-all-wrap {
    text-align: left;
}

.rtl .social-icon {
    text-align: left;
}

.rtl .social-icon li:last-child {
    margin-right: 30px !important;
}

.rtl .toll-free-num li span {
    margin-left: 10px !important;
    margin-right: 0px !important;
}

.rtl .toll-free-num li:first-child {
    margin-left: 20px;
    margin-right: 0px;
}

.rtl footer h6 {
    text-align: right;
}

.rtl footer ul li a {
    display: block;
    text-align: right;
}

.rtl footer ul li {
    text-align: right;
}

.rtl .play-store-img {
    text-align: right !important;
}

.rtl .toll-free-num {
    text-align: right !important;
}

.rtl .payment-method {
    text-align: right !important;
}

.rtl .owl-nav button span {
    transform: scaleX(-1);
}

.lang-change {
    border: 0px;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 0px;
    position: relative;
    box-shadow: none;
    left: 0;
    padding: 0px 10px;
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
    height: 50px;
    border-radius: 3px;
    z-index: 1;
    background: white;
}


/* ----header-cart */
.rtl .cart-view-wrap {
    right: -300px;
}

.rtl .cart-view-wrap .cart-view-content ul li .cart-detail-wrap h6 {
    text-align: right;
}

.rtl .cart-view-wrap .cart-view-content ul li .cart-detail-wrap p {
    text-align: right;
    direction: ltr !important;
}

.rtl .cart-view-wrap .cart-view-header h6 span.title-cart {
    margin-left: 15px;
}


/* ----------product-details-css---- */
.rtl .product-detail-wrapper {
    text-align: right;
}

.rtl .product-description h6 {
    text-align: right;
}

.rtl .product-description p {
    text-align: right;
}

.rtl .product-detail-wrapper .order-btn button.hover {
    margin-right: 10px;
}

.rtl .product-detail-wrapper .order-btn button span {
    margin-left: 5px;
}

.rtl .quantity-wrap {
    flex-direction: row-reverse;
}

.rtl .category-menu-wrapper .btn-primary span {
    margin-right: 9px;
}

.rtl .category-menu-wrapper ul li {
    margin-right: 25px;
    margin-left: 0px;
}

.rtl .category-menu-wrapper ul li::after {
    right: -15px;
}

/* ----user-profile- */
.rtl .user-profile {
    right: -196px;
}

.rtl .user-logged button span.down-arrow {
    right: 131px !important;
}

.rtl .user-profile .user-profile-content ul li a {
    text-align: right;
}

.rtl .user-profile .user-profile-content ul li a span {
    margin-left: 15px;
}

.rtl .user-profile .user-profile-header h6 span.title-cart {
    margin-left: 15px;
}

/* ---checkout-page--- */
.rtl .cart-total-wrap .cart-total-heading h6 {
    text-align: right;
}

.rtl .cart-total-wrap .cart-total-heading h6 span {
    padding-left: 5px;
}

.rtl .your-order-wrapper ul li .your-order-detail-wrap h6 {
    text-align: right;
}

.rtl .your-order-wrapper ul li .your-order-detail-wrap p {
    text-align: right;
}

.rtl .your-order-wrapper ul li .your-order-img-wrap {
    margin-left: 20px;
}

.rtl .total-count .price-seperator p {
    text-align: left;
}

.rtl .order-summary-box ul li.saving h6 img {
    margin-left: 15px;
}

.rtl .billing-wrapper .billing-btn {
    justify-content: flex-start;
}

.rtl .billing-wrapper .billing-btns {
    text-align: right;
}

.rtl .billing-wrapper .billing-btns:after {
    float: left;
}

/* -----login-form---- */
.rtl .social-btns .btn span {
    margin-left: 15px;
}

.rtl .login-form {
    text-align: right;
}


/* -----contact-us-css-- */
.rtl .contact-address-wrap .location h6 {
    text-align: right;
}

.rtl .contact-address-wrap .location p {
    text-align: right;
}

.rtl .contact-address-wrap .location span {
    margin-left: 16px !important;
}

.rtl .input-wrapper span {
    margin-left: 20px;
}

.rtl .contact-us h1 {
    text-align: right;
}

.rtl .product-list .filter-wrapper {
    flex-direction: row-reverse;
}

.rtl .filter-wrapper .dropdown {
    margin-right: 0px;
}

.rtl .category-menu-wrapper ul {
    text-align: right;
}


/* ----about-us-css------ */
.rtl .client-title h6 {
    text-align: right;
}

.rtl .client-wrapper p {
    text-align: right;
}

.rtl .client-name {
    text-align: right;
}


/* ----home-vendor-css---- */
.rtl .vendor-1 .vendor-detail h5 {
    text-align: right;
}

.rtl .vendor-1 .vendor-detail p {
    text-align: right;
}

.rtl .vendor-1 .vendor-img {
    margin-left: 15px;
}

/* ----category-css--- */
.rtl .caption h2 {
    text-align: right;
}

.rtl .caption p {
    text-align: right;
}