body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    padding: 0;
    margin: 0;
}
body{
    position: relative;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none !important;
}

.lg-btn{
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
    padding: 10px 30px;
    font-size: 18px;
    font-family: var(--PublicSans-SemiBold);
    display: inline-block;
    border-radius: 20px;
    transition: 0.5s;
    border: 1px solid transparent;
}

.lg-btn:hover{
    background-color: transparent !important;
    border: 1px solid var(--primary-color) !important; 
    color: var(--primary-color) !important;
}

h1{
  font-size: 50px !important;
  color: var(--heading-black);
  text-transform: uppercase;
  font-family: var(--PublicSans-ExtraBold);
}

h2{
    font-size: 44px !important;
    font-family: var(--PublicSans-ExtraBold);
    line-height: 42px;
}

h3{
    font-size: 36px !important;
}

h4{
    font-size: 24px !important;
}

h5{
    font-size: 20px !important;
}


p{
  font-size: 16px;
  color: var(--light-gray);
  font-family: var(--PublicSans-Regular);
}

.p-100{
    padding: 80px 0;
}

.pb-100{
    padding-bottom: 80px;
}

.sub-heading{
    font-size: 48px;
    color: var(--primary-color) !important;
    font-family: 'Damion', cursive;
}

.title{
    margin-bottom: 45px;
}

.title h2{
    font-size: 44px;
    color: var(--heading-black);
}

.title span{
    position: relative;
    z-index: 1;
}

.title span::after{
    content: '';
    position: absolute;
    bottom: 7px;
    left: -2px;
    border-bottom: 6px solid var(--primary-color);
    width: 100%;
    z-index: -1;
}

img{
    width: 100%;
    height: 100%;
}

button:focus{
    box-shadow: none !important;
}

/* -------user-login-dropdown-- */
.user-login-icon{
    position: relative;
    background-color: transparent;
    border: none;
}

.user-login-icon.dropdown-toggle::after{
    display: none;
}

.user-login-drop{
    /*max-width: 100%;
    */width: 190px;
    position: relative;
    transform: translate(-60px, 67px) !important;
}

.user-login-dropdow {
    background: var(--white);
    border: 1px solid var( --card-border-color);
    box-shadow: 0px 10px 25px rgb(34 37 40 / 5%);
    width: 190px;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    top: 60px;
    right: 70px;
    padding-bottom: 10px;
    z-index: 20;    
    visibility: visible;
    transition: 0.3s;
    transform: translate(95px, 21px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.user-login-drop::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 10px 20px 10px;
    border-color: transparent transparent #FFE9E4 transparent;
    box-shadow: 0px 10px 25px rgb(255 255 255 / 5%) !important;
    top: -21px;
    left: 80px;
}

.active.user-login-dropdow{
    opacity:1;
    visibility: visible;
}
.user-login-header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 15px;
    padding-top: 10px;
    padding-left: 15px;
}
.user-login-header h4{
    font-family: var(--PublicSans-Medium);
    font-size: 12px !important;
    line-height: 20px;
    text-transform: capitalize;
    color: #030235;
}
.user-login-header h3 a{ 
    font-family: var(--PublicSans-ExtraBold);
    font-size: 12px !important;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--primary-color);
    background: none !important;
    width: 100%;
}
.user-data-wrapper{
    border-top: 1px solid rgba(34, 37, 40, 0.3);
    padding-left: 15px;
    padding-right: 15px;
}
.user-data-wrapper a{
    background: none !important;
    font-family: var(--PublicSans-ExtraBold);
    font-size: 12px !important;
    line-height: 20px;
    text-transform: capitalize;
    color: #030235!important;
    width: 100% !important;
    text-align: left !important;
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
    transition: 0.3s;

}
.user-data-wrapper a span {
    color: var(--primary-color) !important;
    margin-right: 10px;
    font-size: 15px !important;
    
}
.user-data-wrapper a:hover{
   transform: translateX(5px);
}




/* --------- cart-dropdown-css--------- */
.cart-icons{
    position: relative;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #030235 !important;
    font-size: 20px;

}

.cart-dropdwon{
    background: var(--white);
    border: 1px solid var( --card-border-color);
    box-shadow: 0px 10px 25px rgba(34, 37, 40, 0.05); 
    width: 0%;
    border-radius: 5px;
    position: fixed;
    top: 0px;
    right: -10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    z-index: 9999;
    transition: 0.3s;
    overflow: hidden;
}
.cart-drop-wrapper{
    height: 100%;
    max-height: 290px !important;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 20px;
}
::-webkit-scrollbar {
    display: none;
}
.show.cart-dropdwon{
    transition: 0.3s;
    z-index: 999;
    right: 0px;
    width: 300px;
}

.cart-drop-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -5px;
}

.overlay {
    display: none;
}
  .show.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(3, 2, 53, 0.8);
    z-index: 2;
  }


/* .cart-drop-wrapper .cart-drop-menu:last-child {
    border-bottom: none !important;
    border-top: 1px solid var(--primary-color);
} */
.cart-dropdwon > .cart-drop-menu-2{
    margin-top: -15px !important;
    padding-top: 5px;
}
.cart-dropdwon > .cart-drop-menu-3{
    margin-top: -15px !important;
    padding-top: 5px;
}
.drop-img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-img a{
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}
.drop-img img{
  width: 100% !important;
  max-width: 60px !important;
}
.drop-img a{
    background: none !important;
}
.drop-text h4{
    max-width: 130px;
    font-family: var(--PublicSans-Medium);
    font-size: 13px !important;
    line-height: 18px;
    color: var(--drop-cart-text-1);
    margin-top: 13px;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    max-height: 35px !important;
}
.drop-text h4 a {
    width: 100%;
    font-family: var(--PublicSans-Medium);
    color: var(--drop-cart-text-1) !important;
    background: none !important;
    height: 100%;
}
.drop-text p{
    font-family: var(--BeVietnamPro-Regular);
    font-size: 12px !important;
    line-height: 15px;
    letter-spacing: 0.02em;  
    color: var(--drop-cart-text-2);
    margin-bottom: 0px;
}
.drop-text h3 {
    font-family: var(--PublicSans-ExtraBold);
    font-size: 15px !important;
    line-height: 30px;
    color: var(--drop-cart-number);
}
.cancel-btn a {
    background: none !important;
    font-size: 18px !important;
    margin-left: 0px;
    color: var(--primary-color) !important;
}
.cart-dropdwon .cart-title{
    font-family: var(--PublicSans-Bold);
    font-size: 20px !important;
    line-height: 32px;
    margin-top: 10px;
    margin-left: 10px;
    color: #030235;
    position: relative;
}
.cart-dropdwon .cart-title:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    background: var(--light-border-color);
    width: 100%;
    height: 3px;
    border-radius: 20px;
    z-index: 2;
}
/* .cart-dropdwon .cart-title:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    background: var(--primary-color);
    width: 100%;
    height: 3px;
    border-radius: 20px;
    animation: titleafter;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 0;
} */
.cart-dropdwon hr {
    background: var(--drop-cart-bottom-border) !important;
    height: 1px !important;
    position: relative;
    left: -5px;
    top: 0px;
    width: 100%;
}

.total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    border-bottom: none !important;
    border-top: 1px solid var(--primary-color);
}

.total-amount p{
    font-family: var(--PublicSans-Medium);
    font-size: 16px !important;
    line-height: 20px;
    color: var(--drop-cart-text-1);
    margin-bottom: 0px;
}
.total-amount h3{
    font-family: var(--PublicSans-ExtraBold);
    font-size: 16px !important;
    line-height: 30px;
    color: var(--primary-color);
}
.drop-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.drop-btns .view-cart{
    background: var(--primary-color) !important;
    padding: 10px 20px 10px 20px !important;
    font-family: var(--PublicSans-ExtraBold) !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: var(--white) !important;
    border-radius: 90px !important;
    display: inline;
    width: 150px !important;
    height: 40px !important;
    text-transform: capitalize;
    text-align: center;
    transition: 0.5s;
}

.drop-btns .view-cart:hover{
    transform: translateY(-10px);
}

.drop-btns .checkout{
    background: #030235 !important;
    padding: 10px 20px 10px 20px !important;
    font-family: var(--PublicSans-ExtraBold);
    font-size: 14px !important;
    line-height: 20px;
    color: var(--white) !important;
    border-radius: 90px !important;
    width: 150px !important;
    height: 40px !important;
    text-transform: capitalize;
    text-align: center;
    transition: 0.5s;
}

.drop-btns .checkout:hover{
    transform: translateY(-10px);
}

.page-link:focus{
    box-shadow: none !important;
}

.breadcrumb{
    justify-content: center;
}


/*=============== responsive =================*/
@media only screen and (max-width:1200px){
    .p-100{
        padding: 50px 0;
    }

    h1{
        font-size: 40px !important;
    }

    h2{
        font-size: 32px !important;
    }
    
    h3{
        font-size: 22px !important;
    }

    h4{
        font-size: 20px !important;
    }

    h5{
        font-size: 18px !important;
    }

    p{
       font-size: 14px !important;
    }
    .title {
        margin-bottom: 30px;
    }

    .title span::after{
        bottom: 2px;
    }
}

@media only screen and (max-width:991px){
    

    h1{
        font-size: 35px !important;
    }
    h2{
        font-size: 26px !important;
    }
}

@media only screen and (max-width:768px){
    

    h1{
        font-size: 30px !important;
    }


}

@media only screen and (max-width:575px){

    h1{
        font-size: 22px !important;
    }

}

/* @media only screen and (max-width:575px){
    
} */


html {
    scroll-behavior: smooth;
}

