body {
    overflow-x: hidden;

}

.product-detalis-section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}


.img-wrapper {
    width: 500px;
    height: 500px;
    background: var(--product-details-image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    outline-offset: 10px;
    outline-style: solid;
    outline-color: #D9E2ED;
    outline-width: 1px;
    border-radius: 20px;
    margin: 0px auto;
}

.img-wrapper img {
    width: 100%;
    max-width: 400px;
}

.product-sub-img {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 55px;
    margin-top: 25px;
}

.sub-img-wrapper {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: var(--product-details-image-bg);
    border: 1px solid var(--product-details-image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-img-wrapper img {
    width: 100%;
    max-width: 100px;
}

.product-content-part {
    position: relative;
}

.product-detail-quentity {
    margin-top: 0 !important;
}

.product-content-part h2 {
    font-family: var(--PublicSans-Bold);
    font-size: 36px !important;
    line-height: 40px;
    color: var(--product-details-text-1);
    margin-bottom: 5px;
    text-transform: capitalize;
}

.product-content-part h5 {
    font-family: var(--PublicSans-SemiBold);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #0F053F;
    text-transform: capitalize;
}

.product-content-part h5 span a {
    font-family: var(--PublicSans-Regular);
    font-size: 16px;
    line-height: 30px;
    color: var(--light-gray);
    padding-left: 20px;
}

.product-content-part h5 .fa-star {
    color: #FFC43F !important;
    font-size: 15px;
}

.product-content-part h5 .fa-star-half-stroke {
    color: #FFC43F !important;
    font-size: 15px;
}

.product-content-part h6 {
    font-family: var(--PublicSans-Regular);
    font-size: 20px;
    line-height: 30px;
    color: var(--light-gray);
    margin-bottom: 14px;
}

.product-content-part h4 {
    font-family: var(--PublicSans-Bold);
    font-size: 18px !important;
    line-height: 35px;
    color: var(--heading-black);
}

.product-content-part h4 span {
    font-family: var(--PublicSans-Regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--light-gray);
    margin-left: 4px;
}

.product-detalis-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-now {
    background: var(--heading-black);
    color: var(--white);
    position: relative;
    padding: 15px 40px !important;
    border-radius: 20px !important;
    font-size: 18px;
    font-family: var(--PublicSans-SemiBold);
    margin: 0px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.order-now:hover {
    color: var(--heading-black) !important;
    background-color: transparent;
    border: 1px solid var(--heading-black);
}

.whatsapp-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #2BAE4A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(white) !important;
    font-size: 25px;
    transition: 0.3s;
    position: relative;
}

.whatsapp-btn:hover{
    transform: translateY(-10px);
}

.whatsapp-btn i {
    color: var(--white);
    font-size: 30px;
}

.product-content-part h3 {
    font-family: var(--PublicSans-Bold);
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-top: 26px;
}

.product-content-part h3 span:nth-child(odd) {
    font-family: var(--PublicSans-Regular);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--light-gray);
    padding-left: 5px;
}

.product-detalis-btn .add-cart-btn {
    margin: 0px !important;
    border-radius: 20px !important;
    padding: 20px 40px !important;
    border: 1px solid transparent;
    padding: 15px 30px;
}

.product-detalis-btn .add-cart-btn:hover {
    color: var(--primary-color) !important;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.product-detalis-btn .add-cart-btn span,
.product-detalis-btn .order-now span {
    margin-right: 13px !important;
}

.product-content-part .flex-basis {
    flex-basis: 25%;
}

.product-content-part .size-tabs .active {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: var(--PublicSans-Regular);
    font-weight: bold;
}

.product-content-part .size-tabs li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

.product-content-part .size-tabs li a {
    font-family: var(--PublicSans-Regular);
    color: var(--light-gray);
    font-size: 14px;
}

.product-content-part .size-tabs {
    border-bottom: 0;
    gap: 10px;
    margin-left: 40px;

}

/* ----acordion---- */
.accordion {
    width: 100%;
    max-width: 530px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 30px;
}

.accordion .accordion-content {
    border-radius: 4px;
    margin: 10px 0;
    overflow: hidden !important;
}

.accordion-content.open {
    padding-bottom: 10px;
}

.accordion-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 1px solid #FFB9CE;
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.accordion-content.open header {
    min-height: 50px;
    border-radius: 10px;
}

.accordion-content .description {
    height: 0px;
    padding: 0 15px;
    transition: all 0.3s linear;
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #555261;
    margin-top: 0px !important;
    padding-top: 0px !important;
    position: relative;
    top: 10px;

}

.accordion-content .title {
    font-family: var(--BeVietnamPro-Medium);
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
    padding: 10px 0;
    color: #0F053F;
}




/* ========swiper-slider-css================= */
.mySwiper2 {
    width: 500px !important;
    height: 500px !important;
    background: var(--product-details-image-bg) !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    outline-offset: 10px;
    outline-style: solid;
    outline-color: var(--first-bg-color);
    outline-width: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit: contain;
    z-index: 99999 !important;
}

.mySwiper .swiper-slide {
    width: 160px !important;
    height: 160px !important;
    border-radius: 20px !important;
    background: var(--product-details-image-bg) !important;
    border: 1px solid var(--first-bg-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}

.mySwiper {
    width: 520px;
    margin-top: 25px;
    height: 180px !important;
}

.mySwiper img {
    width: 100% !important;
    max-width: 100% !important;
    object-fit: contain;
} 

 .slider .swiper-container {
    width: 100%;
    height: 100%;
}

.slider__flex {
    display: flex;
    align-items: flex-start;
}

.slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
    overflow: hidden;
}

.slider__prev,
.slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
 
    border-radius: 10px;
}

.slider__prev:hover,
.slider__next:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.gap{
    gap: 13px;
    margin-top: 15px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.slider__prev:focus,
.slider__next:focus {
    outline: none;
}

.slider__thumbs {
    height: calc(600px - 51px);
}


.slider__thumbs .slider__image:hover {
    opacity: 1;
}


.slider__images {
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.slider__images .slider__image img {
    transition: 3s;
}

.slider__image {
    width: 500px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%;
}

.slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.review-wrp{
    position: relative !important;
    z-index: 5 !important;
}




/* ==========responsive=================== */
@media (max-width: 768px) {
    .slider__flex {
        flex-direction: column-reverse;
    }

    .slider__col {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }

    .slider__images {
        width: 100%;
    }

    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }

    .slider__prev,
    .slider__next {
        height: auto;
        width: 32px;
    }
}

/* -----counter-css--- */
.product-detail-quentity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px !important;
}



.product-detail-quentity .qty-container {
    display: flex;
    align-items: center;
    border: 1px solid #FFB9CE;
    padding: 0px 10px;
    border-radius: 5px;
}

.qty-btn-minus,
.qty-btn-plus {
    background: inherit;
    border: none;
}

.qty-btn-minus {
    border-right: 1px solid #FFB9CE;
}

.qty-btn-plus {
    border-left: 1px solid #FFB9CE;
}

.product-detail-quentity input[type=text] {
    border: none;
    width: 50px;
    color: var(--black);
    font-weight: bolder;
    font-family: var(--jost);
    text-align: center;
}

.qty-container button {
    width: 50px;
    height: 50px;
}

.product-detail-quentity-icon i {
    color: gray;
    width: 45px;
    height: 45px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-gray);
    margin-left: 20px;
    border-radius: 5px;
}

.product-detail-quentity-icon i:focus {
    color: var(--red) !important;
}

.product-detail-quentity .btn {
    font-weight: bolder;
    font-size: 15px;
    line-height: 30px;
    color: var(--white);
    background-color: transparent;
    background-image: linear-gradient(135deg, var(--blue) 50%, transparent 50%);
    background-size: 300% 300%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    transition: all 1s;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid var(--blue);
    text-transform: uppercase;
}

.product-detail-quentity .btn:hover {
    background-size: 0 50px;
    background-position: -50px -50px;
    color: var(--blue);
}

.product-detail-quentity p {
    margin-right: 30px;
    color: var(--black);
}

.product-detail-quentity .qty-container i {
    color: var(--dark-gray);
}


.preview {
    width: 100%;
    height: 100%;
}

.size-wrapper .flex-bas{
    display: flex;
    flex-basis: 20%;
}

.previewsd span{
    width: 10px;
    height: 10px;
    border: 1px solid var(--card-border);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.previewsd .active{
    border: 1px solid var(--cart-thead-text);
}

.product-content-part input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    margin: 5px 0 5px 5px;
    background-size: 225px 70px;
    position: relative;
    float: left;
    display: inline;
    top: 0;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
}

.product-content-part input[type='radio']:hover {
    -webkit-filter: opacity(.4);
    filter: opacity(.4);
}

.red {
    background: red;
}

.red:checked {
    background: linear-gradient(brown, red)
}

.green {
    background: green;
}

.green:checked {
    background: linear-gradient(green, lime);
}

.yellow {
    background: yellow;
}

.yellow:checked {
    background: linear-gradient(orange, yellow);
}

.purple {
    background: purple;
}

.purple:checked {
    background: linear-gradient(purple, violet);
}

.red:checked~img {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 red);
    filter: opacity(.5) drop-shadow(0 0 0 red);
}

.green:checked~img {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 green);
    filter: opacity(.5) drop-shadow(0 0 0 green);
}

.yellow:checked~img {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 yellow);
    filter: opacity(.5) drop-shadow(0 0 0 yellow);
}

.purple:checked~img {
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 purple);
    filter: opacity(.5) drop-shadow(0 0 0 purple);
}


/* tabs */
.review-desc {
    background: var(--white);
    border: 1px solid #EFE8E6;
    border-radius: 20px;
    padding: 28px 40px;
    margin-top: 270px;
}

.review-desc .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 3px solid var(--primary-color);
}

.review-desc .nav-tabs .nav-link {
    color: var(--heading-black) !important;
    font-size: 20px;
    font-family: var(--PublicSans-Bold);
    padding-bottom: 15px;
    border: transparent;
}


.review-desc .nav-tabs .nav-link:focus{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.review-desc .tab-content {
    margin-top: 0px;
}

/* related-roducts */
.related-products {
    background: none;
}
.product-image-part {
    position: relative;
    z-index: 2;
}

.product-image-part .swiper{
    position: relative;
}



.drift-zoom-pane-loader{
    display: none !important;
}
.drift-zoom-pane {
    transform: translate3d(0, 0, 0);
    background: white !important;
}
.drift-zoom-pane {
    z-index: 11 !important;
}
.swiper-slide a{
    width: 100% !important;
}
.img-enlargable{
    z-index: 99999999999999999 !important;
}

.product-content-part select{
    padding: 5px 10px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid var(--cart-thead-text) !important;
}

.product-content-part select:focus{
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: none !important;
}

/* -----new-review-css--- */
.my-review-wrapper{
    background-color: #ffffff;
    box-shadow:rgba(0,19,37,0.72);
    width: 100%;
    height: 100%;

}
.review-content{
    display: flex;
    /* align-items: center; */
    /* padding: 32px 32px 24px 16px; */
    border-bottom: 2px solid var(--common-border);
}
.review-content .left-content{
    display: flex;
    gap: 30px;
    padding: 25px;
    padding-right: 100px !important;
    border-right: 2px solid var(--common-border);
    align-items: center;
}
.review-content h3{
    font-family: var(--PublicSans-Bold);
    font-size: 36px !important;
    line-height: 40px;
    color: var(--primary-color);
}
.review-content h3 span {
    font-family: var(--PublicSans-Bold);
    font-size: 36px !important;
    line-height: 40px;
    color: var(--primary-color);
}
.review-content h4{
    font-family: var(--PublicSans-Bold);
    font-size: 16px !important;
    line-height: 24px;
    color: var(--primary-color);
    margin-bottom: 0px;
}
.review-content p{
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--text-color);
    margin-bottom: 0px;
}
.review-content .right-content{
   
    padding:25px 0px;
    display: flex;
    align-items: center;
}
.review-content .right-content h6{
    font-family: var(--PublicSans-Regular);
    font-size: 16px !important;
    line-height: 26px;
    letter-spacing: 0px;
    color: var(--text-color);
    /* padding-bottom: 8px; */
    margin: 0px 60px;
}

 .right-content .enter-review-btn a{
   padding: 10px 20px;
   background: none;
    border: 2px solid var(--primary-color);
    font-family: var(--PublicSans-Bold);
    font-size: 16px !important;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--primary-color) !important;
    border-radius: 5px;
    transition: 0.3s;
}
.right-content .enter-review-btn a:hover{
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white) !important;
}

.review-comment-wrapper{
    padding: 30px 0px;
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
}
.review-comment-wrapper h3{
    font-family: var(--PublicSans-Bold);
    font-size: 20px !important;
    line-height: 26px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.rewiew-wrapper{
    display: flex;
    align-items: flex-start;
    border-bottom:2px solid var(--common-border);
    padding-bottom: 30px;
    padding-top: 30px;
}

.review-left{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-basis: 20%;
    border-right: 2px solid var(--common-border) ;
}
.review-right{
    flex-basis: 80%;
    padding-left: 35px;

}

.review-img{
    width: 60px;
    height: 60px;
    background: var(--supportive-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.review-img svg{
    width: 25px;
    height: 25px;
}
.review-img svg path{
    fill: var(--primary-color) !important;
}
.review-text h6{
    font-family: var(--PublicSans-SemiBolds);
    font-size: 16px !important;
    line-height: 26px;
    color: var(--text-color);
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.review-text p{
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    line-height: 20px;
    color: var(--text-color);
    margin-bottom: 0px;
}
.review-text p span{
    color: var(--primary-color);
    font-size: 18px !important;
}

.review-right-top{
    display: flex;
    align-items: center;
    gap: 15px;
}
.number-star{
    padding: 5px 9px;
    background: var(--supportive-color);
    font-family: var(--PublicSans-Bold);
    font-size: 20px !important;
    line-height: 20px;
    color: var(--primary-color);
    display: flex;
    align-self: center;
    gap: 5px;
    border-radius: 5px;
}
.number-star span{
    color: var(--primary-color);
    font-size: 14px !important;
}
.review-right > div h4{
    font-family: var(--inter-bold);
    font-size: 20px;
    line-height: 26px;
    color: var(--primary-color);
    margin-bottom: 0px;
}
.review-right p{
    font-family: var(--PublicSans-Regular);
    font-size: 16px !important;
    line-height: 26px;
    color: var(--text-color);
    padding-top: 15px;
    margin-bottom: 0px;
}

.review-comment-wrapper .supportive-div{
    height: 450px;
}
.load-btn{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.load-btn .lg-btn{
    padding: 15px 35px;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px !important;
}
.load-btn .lg-btn:hover{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white);
}   

/* ----modal-css--- */
.my-review-modal.modal{
    background: var(--new-modal-bg) !important;
    z-index: 9999;
}
.my-review-modal .modal-content{
    padding: 30px !important;
    text-align: center;
    position: relative;
    margin: 0px !important;
}
.my-review-modal .modal-dialog{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-review-modal .modal-header{
    border-bottom: none !important;
}
.my-review-modal .modal-title{
    font-family: var(--PublicSans-Bold);
    font-size: 25px !important;
    line-height: 40px;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}
.modal-header .btn-close{
    position: absolute;
    top: 35px;
    right: 35px;
    margin: 0 !important;
    padding: 0 !important;
    background: none;
    font-size: 25px !important;
    color: var(--primary-color) !important;
    opacity: 1 !important;
}

.review-text-box textarea{
    border: 1px solid var(--common-border) !important;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 200px;
}
.review-text-box textarea:focus{
    box-shadow: none !important;
    border: 1px solid var(--common-border) !important;
}
.review-text-box textarea:focus-visible{
    box-shadow: none !important;
    border: 1px solid var(--common-border) !important;
    outline: none !important;
}
.review-text-box textarea::placeholder{
    font-family: var(--PublicSans-Regular);
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--text-color);
}

.review-text-box{
    margin-top: 25px;
}
.modal-footer{
    padding-top: 50px;
    justify-content: center !important;
    border-top: none !important;
}
.modal-footer .lg-btn{
    font-family: var(--PublicSans-SemiBold);
    padding: 15px 40px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
}
.modal-footer .lg-btn:hover{
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.modal-reviews i {
    font-size: 35px !important;
    color: #b5b8b1;
    transition: all 0.2s;
    cursor: pointer;
}
.stars i.active {
    color: #ffb851;
    transform: scale(1.2);
}

/* llike-icon */
.pro-hearticon{
    position: absolute;
    z-index: 5;
    right: 10px;
    top: 10px;
}

.pro-hearticon.pro-like i{
    background: transparent;
    width: auto;
    height: auto;
}

.pro-hearticon i{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(196, 30, 73, 0.2);
    color: var(--primary-color);
}

.swiper .discnt{
    left: 10px;
    right: auto;

}

.review-wrp{
    position: relative;
    z-index: 2;
}

/* --------rating-css----- */
.rating {
    margin: auto;
  }
  .rating__display {
    font-size: 1em !important;
    font-weight: 500;
    min-height: 1.25em;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
  }
  .rating__stars {
    display: flex;
    padding-bottom: 0.375em;
    position: relative;
    justify-content: center;
  }
  .rating__star {
    display: block;
    overflow: visible;
    pointer-events: none;
    width: 2em;
    height: 2em;
  }
  .rating__star-ring, .rating__star-fill, .rating__star-line, .rating__star-stroke {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .rating__star-ring, .rating__star-fill, .rating__star-line {
    stroke: var(--primary-color);
  }
  .rating__star-fill {
    fill: var(--primary-color);
    transform: scale(0);
    transition: fill var(--trans-dur) var(--bezier), transform var(--trans-dur) var(--bezier);
  }
  .rating__star-stroke {
    stroke: #c7cad1;
    transition: stroke var(--trans-dur);
  }
  .rating__label {
    cursor: pointer;
    padding-right:17px;
  }
  .rating__stars .rating__label:last-of-type{
    padding-right:0px !important;
  }
  .rating__label--delay1 .rating__star-ring, .rating__label--delay1 .rating__star-fill, .rating__label--delay1 .rating__star-line, .rating__label--delay1 .rating__star-stroke {
    animation-delay: 0.05s;
  }
  .rating__label--delay2 .rating__star-ring, .rating__label--delay2 .rating__star-fill, .rating__label--delay2 .rating__star-line, .rating__label--delay2 .rating__star-stroke {
    animation-delay: 0.1s;
  }
  .rating__label--delay3 .rating__star-ring, .rating__label--delay3 .rating__star-fill, .rating__label--delay3 .rating__star-line, .rating__label--delay3 .rating__star-stroke {
    animation-delay: 0.15s;
  }
  .rating__label--delay4 .rating__star-ring, .rating__label--delay4 .rating__star-fill, .rating__label--delay4 .rating__star-line, .rating__label--delay4 .rating__star-stroke {
    animation-delay: 0.2s;
  }
  .rating__input {
    -webkit-appearance: none;
    appearance: none;
  }
  .rating__input:hover ~ [data-rating]:not([hidden]) {
    display: none;
  }
  .rating__input-1:hover ~ [data-rating="1"][hidden], .rating__input-2:hover ~ [data-rating="2"][hidden], .rating__input-3:hover ~ [data-rating="3"][hidden], .rating__input-4:hover ~ [data-rating="4"][hidden], .rating__input-5:hover ~ [data-rating="5"][hidden], .rating__input:checked:hover ~ [data-rating]:not([hidden]) {
    display: block;
  }
  .rating__input-1:hover ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:hover ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:hover ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:hover ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:hover ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
    stroke: var(--primary-color);
    transform: scale(1);
  }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-ring, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-ring, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-ring, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-ring, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-ring {
    animation-name: starRing;
  }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
    animation-name: starStroke;
  }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-line, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-line, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-line, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-line, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-line {
    animation-name: starLine;
  }
  .rating__input-1:checked ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-fill, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-fill, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-fill, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-fill {
    animation-name: starFill;
  }
  .rating__input-1:not(:checked):hover ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:not(:checked):hover ~ .rating__label:nth-of-type(2) .rating__star-fill, .rating__input-3:not(:checked):hover ~ .rating__label:nth-of-type(3) .rating__star-fill, .rating__input-4:not(:checked):hover ~ .rating__label:nth-of-type(4) .rating__star-fill, .rating__input-5:not(:checked):hover ~ .rating__label:nth-of-type(5) .rating__star-fill {
    fill: var(--primary-color) !important;
  }
  .rating__sr {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}
  

  /* ---rating-animation---*/
  @media (prefers-color-scheme: dark) {

    .rating {
      margin: auto;
    }
    .rating__star-stroke {
      stroke: var(--primary-color);
    }
  }
  @keyframes starRing {
    from, 20% {
      animation-timing-function: ease-in;
      opacity: 1;
      r: 8px;
      stroke-width: 16px;
      transform: scale(0);
    }
    35% {
      animation-timing-function: ease-out;
      opacity: 0.5;
      r: 8px;
      stroke-width: 16px;
      transform: scale(1);
    }
    50%, to {
      opacity: 0;
      r: 16px;
      stroke-width: 0;
      transform: scale(1);
    }
  }
  @keyframes starFill {
    from, 40% {
      animation-timing-function: ease-out;
      transform: scale(0);
    }
    60% {
      animation-timing-function: ease-in-out;
      transform: scale(1.2);
    }
    80% {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes starStroke {
    from {
      transform: scale(1);
    }
    20%, to {
      transform: scale(0);
    }
  }
  @keyframes starLine {
    from, 40% {
      animation-timing-function: ease-out;
      stroke-dasharray: 1 23;
      stroke-dashoffset: 1;
    }
    60%, to {
      stroke-dasharray: 12 12;
      stroke-dashoffset: -12;
    }
}



/*================= responsive ==============*/
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .img-wrapper {
        width: 480px;
        height: 400px;
    }

    .product-content-part h2 {
        font-size: 28px !important;
    }

    .product-content-part h5 {
        font-size: 16px;
    }

    .product-content-part h5 span a {
        font-size: 16px;
    }

    .product-content-part h6 {
        font-size: 14px;
    }

    .product-content-part h3 {
        font-size: 30px;
    }

    .product-detalis-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .product-content-part h4 {
        font-size: 18px;
    }

    .product-content-part h4 span {
        font-size: 18px;
    }

    .whatsapp-btn {
        width: 55px;
        height: 55px;
        font-size: 25px;
        transition: 0.5s;
}

    


    .product-sub-img {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 55px;
        margin-top: 25px;
    }


    /* ----new-slider-css---- */
    .zoomContainer {
        top: 0px !important;
        left: 60px !important;
        z-index: 30 !important;
    }
    .zoomLens{
        opacity: 0 !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    .product-detalis-section {
        padding: 70px 0px;
    }

    /* .product-content-part{
    margin-top: 50px;
} */
    .img-wrapper {
        width: 480px;
        height: 400px;
    }

    .product-content-part h2 {
        font-size: 28px !important;
        max-width: 500px;
    }

    .product-content-part h5 {
        font-size: 16px;
    }

    .product-content-part h5 span a {
        font-size: 16px;
    }

    .product-content-part h6 {
        font-size: 14px;
    }

    .product-content-part h3 {
        font-size: 30px;
    }

    .product-detalis-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .product-content-part h4 {
        font-size: 18px;
    }

    .product-content-part h4 span {
        font-size: 18px;
    }

    .whatsapp-btn {
        width: 55px;
        height: 55px;
        font-size: 25px;

    }

    .product-sub-img {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 55px;
        margin-top: 25px;
    }

    .mySwiper2 {
        width: 100% !important;
        height: 100% !important;
    }
    .mySwiper{
        width: 100% !important;
    }
    .mySwiper .swiper-slide{
        width: 140px !important;
        height: 140px !important;
    }
    

    .order-now,
    .product-detalis-btn .add-cart-btn {
        padding: 20px 25px !important;
        font-size: 15px;
    }


        /* ----new-slider-css---- */
        .zoomContainer {
            top: 0px !important;
            left: 60px !important;
            z-index: 30 !important;
        }
        .zoomLens{
            opacity: 0 !important;
        }
        .main-image {
            margin-bottom: 0px;
        }   

    /* ---review-box-css---- */
    .review-left{
        flex-basis: 28%;
    }
    .review-right{
        flex-basis: 70%;
    }
    .review-content .left-content{
        padding-right: 20px !important;
        gap: 20px;
    }
    .review-content h3{
        font-size: 30px;
    }
    .review-content h3 span{
        font-size: 30px;
    }
    .review-content .right-content h6{
        margin: 0px 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-detalis-section {
        padding: 70px 0px;
    }

    .product-content-part {
        margin-top: 50px;
    }

    .img-wrapper {
        width: 480px;
        height: 400px;
    }

    .product-content-part h2 {
        font-size: 26px !important;
        max-width: 500px;
    }

    .product-content-part h5 {
        font-size: 16px;
    }

    .product-content-part h5 span a {
        font-size: 15px;
    }

    .product-content-part h6 {
        font-size: 14px;
    }

    .product-content-part h3 {
        font-size: 30px;
    }

    .product-detalis-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .product-content-part h4 {
        font-size: 16px;
    }

    .product-content-part h4 span {
        font-size: 16px;
    }

    .whatsapp-btn {
        width: 55px;
        height: 55px;
        font-size: 25px;

    }

    .product-sub-img {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 55px;
        margin-top: 25px;
    }

    .mySwiper2 {
        width: 500px !important;
        height: 400px !important;
    }
    .zoomContainer{
        display: none !important;
    }
    .main-image {
        margin-bottom: 0px;
    }

    
    /* ---review-box-css---- */
    .review-left{
        flex-basis: 24%;
        flex-direction: column;
        align-items: flex-start;
    }
    .review-right{
        flex-basis: 75%;
    }
    .review-content .left-content {
        padding-right: 20px !important;
        gap: 10px;
        flex-direction: column;
        flex-basis: 35%;
        align-items: flex-start;
    }
    .review-content .right-content {
        padding: 25px 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 30px;
    }
    .review-content h3{
        font-size: 30px;
    }
    .review-content h3 span{
        font-size: 30px;
    }
    .review-content .right-content h6{
        margin: 0px 0px;
        margin-bottom: 20px;
    }
    .right-content .enter-review-btn a{
        padding: 8px 15px;
        font-size: 15px;
    }
    .review-right p{
        font-size: 15px;
        line-height: 22px;
    }

}

@media only screen and (max-width:768px) {
    .review-desc {
        padding: 15px 20px;
    }

    .review-desc .nav-tabs .nav-link {
        font-size: 16px;
    }

    .product-card.out-of-stock .product-img-wrap::before{
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .product-detalis-section {
        padding: 50px 0px;
    }

    /* .product-content-part{
    margin-top: 50px;
} */
    .img-wrapper {
        width: 480px;
        height: 400px;
    }

    .product-content-part h2 {
        font-size: 24px !important;
        max-width: 400px;
        line-height: 30px !important;
    }

    .product-content-part h5 {
        font-size: 16px;
    }

    .product-content-part h5 span a {
        font-size: 15px;
    }

    .product-content-part h6 {
        font-size: 14px;
    }

    .product-content-part h3 {
        font-size: 30px;
    }

    .product-detalis-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .product-content-part h4 {
        font-size: 16px;
        line-height: 25px !important;
    }

    .product-content-part h4 span {
        font-size: 16px;
    }

    .whatsapp-btn {
        width: 55px;
        height: 55px;
        font-size: 25px;

    }

    .product-sub-img {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 55px;
        margin-top: 25px;
    }

    .mySwiper2 {
        width: 500px !important;
        height: 400px !important;
    }
    .zoomContainer{
        display: none !important;
    }
    .product-content-part {
        position: relative;
        margin-top: 30px;
    }
    .main-image {
        margin-bottom: 0px;
    }  

    /* ---review-box-css---- */
    .rewiew-wrapper{
        flex-direction: column;
    }
    .review-left{
        flex-basis: 24%;
        flex-direction: column;
        align-items: flex-start;
        border-right: none !important;
    }
    .review-right{
        flex-basis: 75%;
        padding-left: 0px;
        margin-top: 30px;
    }
    .review-content .left-content {
        padding-right: 20px !important;
        gap: 10px;
        flex-direction: column;
        flex-basis: 40%;
        align-items: flex-start;
    }
    .review-content .right-content {
        padding: 25px 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 30px;
    }
    .review-content h3{
        font-size: 30px;
    }
    .review-content h3 span{
        font-size: 30px;
    }
    .review-content .right-content h6{
        margin: 0px 0px;
        margin-bottom: 20px;
    }
    .right-content .enter-review-btn a{
        padding: 8px 15px;
        font-size: 15px;
    }
    .review-right p{
        font-size: 15px;
        line-height: 22px;
    }
    .review-desc{
        padding: 28px 20px;
    }
    .number-star{
        font-size: 18px;
    }
    .number-star span{
        font-size: 12px;
    }
    .review-right > div h4{
        font-size: 18px;
    }
    .load-btn .lg-btn{
        padding: 10px 20px;
        font-size: 16px !important;
    }
    .load-btn{
        margin-bottom: 20px !important;
    }
    .modal-header .btn-close {
        top: 20px;
        right: 20px;
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 425px) and (max-width: 575px) {
    .product-detalis-section {
        padding: 50px 0px;
    }

    .img-wrapper {
        width: 480px;
        height: 400px;
    }

    .product-content-part h2 {
        font-size: 22px !important;
        max-width: 400px;
        line-height: 30px !important;
    }

    .product-content-part h5 {
        font-size: 16px;
    }

    .product-content-part h5 span a {
        font-size: 15px;
    }

    .product-content-part h6 {
        font-size: 14px;
    }

    .product-content-part h3 {
        font-size: 26px;
    }

    .product-detalis-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .product-content-part h3 span {
        font-size: 20px !important;
    }

    .product-content-part h4 {
        font-size: 16px;
        line-height: 25px !important;
    }

    .product-content-part h4 span {
        font-size: 16px;
    }

    .whatsapp-btn {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .product-sub-img {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 55px;
        margin-top: 25px;
    }

    .mySwiper {
        width: 100% !important;
    }

    .mySwiper2 {
        width: 100% !important;
        height: 100% !important;
        outline-offset: 0px;
    }

    .mySwiper .swiper-slide {
        width: 120px !important;
        height: 120px !important;
    }

    .accordion-content .title {
        font-size: 18px !important;
    }

    .accordion-content .description {
        font-size: 14px !important;
        line-height: 20px !important;
        top: 15px !important;
    }

    .order-now,
    .product-detalis-btn .add-cart-btn {
        padding: 15px 25px !important;
        font-size: 15px;
    }

    .product-detalis-btn {
        flex-wrap: wrap;
    }

    .zoomContainer{
        display: none !important;
    }
    .product-content-part {
        position: relative;
        margin-top: 30px;
    }
    .main-image {
        margin-bottom: 0px;
    }  

    /* ---review-box-css---- */
    .rewiew-wrapper{
        flex-direction: column;
    }
    .review-left{
        flex-basis: 24%;
        flex-direction: column;
        align-items: flex-start;
        border-right: none !important;
    }
    .review-right{
        flex-basis: 75%;
        padding-left: 0px;
        margin-top: 30px;
    }
    .review-content .left-content {
        padding-right: 20px !important;
        gap: 10px;
        flex-direction: column;
        flex-basis: 40%;
        align-items: flex-start;
        border-right: none !important;
        padding-left: 15px !important;
    }
     
    .review-content .right-content {
        padding: 25px 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 0px;
        padding-left: 15px !important;
    }
    .review-content h3{
        font-size: 26px;
    }
    .review-content h3 span{
        font-size: 26px;
    }
    .review-content .right-content h6{
        margin: 0px 0px;
        margin-bottom: 20px;
    }
    .right-content .enter-review-btn a{
        padding: 8px 15px;
        font-size: 15px;
    }
    .review-right p{
        font-size: 15px;
        line-height: 22px;
    }
    .review-desc{
        padding: 28px 20px;
    }
    .number-star{
        font-size: 18px;
    }
    .number-star span{
        font-size: 12px;
    }
    .review-right > div h4{
        font-size: 18px;
    }
    .my-review-modal .modal-dialog{
        width: auto;
    }
    .review-content{
        flex-direction: column;
    }
    .rating__label {
        cursor: pointer;
        padding-right: 10px;
    }
    .load-btn .lg-btn{
        padding: 10px 20px;
        font-size: 16px !important;
    }
    .load-btn{
        margin-bottom: 20px !important;
    }
    .modal-header .btn-close {
        top: 20px;
        right: 20px;
        font-size: 20px !important;
    }

}

@media only screen and (max-width:575px){
    .product-content-part h3{
        margin-top: 5px;
    }

    .review-desc{
        margin-top: 45px;
    }

    .product-detail-quentity .qty-container{
        height: 40px !important;
    }

    .qty-container button{
        width: 40px !important;
        height: 40px !important;
    }
}

@media only screen and (min-width: 424px) and (max-width: 500px){
    .product-content-part .flex-basis {
        flex-basis: 31%;
    }

    .size-wrapper .flex-bas {
        flex-basis: 25%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
    .product-detalis-section {
        padding: 50px 0px;
    }

    .img-wrapper {
        width: 480px;
        height: 400px;
    }

    .product-content-part h2 {
        font-size: 20px !important;
        max-width: 400px;
        line-height: 25px !important;
    }

    .product-content-part h5 {
        font-size: 15px;
    }

    .product-content-part h5 span a {
        font-size: 12px !important;
        padding-left: 10px !important;
    }

    .product-content-part h6 {
        font-size: 14px;
    }

    .product-content-part h3 {
        font-size: 24px;
    }

    .product-detalis-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .product-content-part h3 span {
        font-size: 20px !important;
    }

    .product-content-part h4 {
        font-size: 15px;
        line-height: 25px !important;
    }

    .product-content-part h4 span {
        font-size: 15px;
    }

    .whatsapp-btn {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .product-sub-img {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 55px;
        margin-top: 25px;
    }

    .mySwiper {
        width: 100% !important;
    }

    .mySwiper2 {
        width: 100% !important;
        height: 100% !important;
        outline-offset: 0px;
    }

    .mySwiper2 img {
        height: 300px;
    }

    .mySwiper .swiper-slide {
        width: 80px !important;
        height: 80px !important;
    }

    .accordion-content .title {
        font-size: 18px !important;
    }

    .accordion-content .description {
        font-size: 14px !important;
        line-height: 20px !important;
        top: 15px !important;
    }

    .product-detalis-btn {
        flex-wrap: wrap;
    }

    .order-now,
    .product-detalis-btn .add-cart-btn {
        padding: 15px 25px !important;
        font-size: 15px;
    }
    
    .zoomContainer{
        display: none !important;
    }
    .product-content-part {
        position: relative;
        margin-top: 30px;
    }
    .main-image {
        margin-bottom: 0px;
    }

    .product-content-part .flex-basis {
        flex-basis: 47%;
    }

    .size-wrapper .flex-bas {
        flex-basis: 34%;
    }

    /* .previewsd {
        display: flex;
        gap: 8px;
    } */

    .previewsd span{
        padding: 5px 8px;
    }

    /* ---review-box-css---- */
    .rewiew-wrapper{
        flex-direction: column;
    }
    .review-left{
        flex-basis: 24%;
        flex-direction: column;
        align-items: flex-start;
        border-right: none !important;
    }
    .review-right{
        flex-basis: 75%;
        padding-left: 0px;
        margin-top: 30px;
    }
    .review-content .left-content {
        padding-right: 20px !important;
        gap: 10px;
        flex-direction: column;
        flex-basis: 40%;
        align-items: flex-start;
        border-right: none !important;
        padding-left: 15px !important;
    }
     
    .review-content .right-content {
        padding: 25px 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 0px;
        padding-left: 15px !important;
    }
    .review-content h3{
        font-size: 26px;
    }
    .review-content h3 span{
        font-size: 26px;
    }
    .review-content .right-content h6{
        margin: 0px 0px;
        margin-bottom: 20px;
    }
    .right-content .enter-review-btn a{
        padding: 8px 15px;
        font-size: 15px;
    }
    .review-right p{
        font-size: 15px;
        line-height: 22px;
    }
    .review-desc{
        padding: 28px 20px;
    }
    .number-star{
        font-size: 18px;
    }
    .number-star span{
        font-size: 12px;
    }
    .review-right > div h4{
        font-size: 18px;
    }
    .my-review-modal .modal-dialog{
        width: auto;
    }
    .review-content{
        flex-direction: column;
    }
    .my-review-modal .modal-content{
        padding: 20px !important;
    }
    .rating__label {
        cursor: pointer;
        padding-right: 10px;
    }
    .load-btn .lg-btn{
        padding: 10px 20px;
        font-size: 16px !important;
    }
    .load-btn{
        margin-bottom: 20px !important;
    }

    .modal-header .btn-close {
        top: 20px;
        right: 20px;
        font-size: 20px !important;
    }
}