@import url('./common.css');
@import url('./var.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./login.css');
@import url('./home.css');
@import url('./product-list.css');
@import url('./product-detail.css');
@import url('./shop-cart.css');
@import url('./myaccount.css');
@import url('./checkout.css');
@import url('./about-us.css');
@import url('./contact-us.css');
@import url('./privacy-policy.css');
@import url('./vendor.css');