.contact-us-section {
    position: relative;
    background: var(--light-white-bg);
}

.contact-us-section .title {
    text-align: center;
}

.contact-us-section .title::before {
    left: 49% !important;
}

.contact-us-section .title::after {
    /* left: 49% !important; */
    animation-name: contacttitlebefore;
}

@keyframes contacttitlebefore {
    0% {
        left: 635px;
        width: 10px;

    }

    50% {
        width: 10px;
    }

    90% {
        width: 10px;
    }

    100% {
        left: 690px;
        width: 0px;
    }
}


.contact-us-section .pera {
    text-align: center;
    margin-bottom: 90px;
}

.left-contact-wrapper {
    background: var(--left-contact-wrapper-bg);
    border: 1px solid var(--left-contact-wrapper-border);
    width: 100%;
    height: 100%;
    box-shadow: 0px 20px 50px rgba(34, 37, 40, 0.1);
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 47px;
    padding-right: 80px;
    position: relative;
}

.left-contact-wrapper label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--left-contact-wrapper-label);
    margin-bottom: 15px !important;
}

.left-contact-wrapper input {
    background: var(--left-contact-wrapper-input-bg);
    border: 1px solid var(--left-contact-wrapper-input-border);
    border-radius: 90px;
    margin-bottom: 0px;
    padding-left: 25px;
    height: 45px;
}

.left-contact-wrapper input:focus {
    box-shadow: 0px 4px 7px rgba(34, 37, 40, 0.05) !important;
    border: 1px solid var(--left-contact-wrapper-input-border);
}

.left-contact-wrapper input::placeholder {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #414549;
}

.left-contact-wrapper textarea {
    background: var(--left-contact-wrapper-input-bg);
    border: 1px solid var(--left-contact-wrapper-input-border);
    border-radius: 20px;
    padding-left: 25px;
    width: 100%;
    height: 100px;
    padding-top: 15px;
}

.left-contact-wrapper textarea:focus-visible {
    box-shadow: 0px 4px 7px rgba(34, 37, 40, 0.05) !important;
    border: 1px solid var(--left-contact-wrapper-input-border);
    outline: none !important;
    box-shadow: 0px 4px 7px rgba(34, 37, 40, 0.05) !important;
}

.left-contact-wrapper textarea::placeholder {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #414549;
}

.left-contact-wrapper .submit-btn a {
    padding: 15px 50px 15px 50px;
    background: var(--left-contact-submit-btn-bg);
    border: 1px solid var(--left-contact-submit-btn-bg);
    border-radius: 90px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: var(--left-contact-submit-btn-text);
    text-transform: capitalize;
    transition: 0.3s;
}

.left-contact-wrapper .submit-btn a:hover {
    background: transparent;
    border: 1px solid var(--left-contact-submit-btn-bg);
    box-shadow: 0px 4px 10px rgba(43, 174, 74, 0.2);
    color: var(--left-contact-submit-btn-bg);
}

.left-contact-wrapper .submit-btn {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}


.contact-right-content {
    align-self: center;
}

.right-contact-wrapper {
    background: var(--right-contact-wrapper-bg);
    border: 1px solid var(--right-contact-wrapper-border);
    box-shadow: 0px 20px 50px rgba(34, 37, 40, 0.1);
    border-radius: 20px;
    width: 600px;
    height: 460px;
    padding: 60px 50px 10px 50px;
    margin-left: -70px;
    position: relative;
}

.right-contact-main {
    display: flex;
    gap: 27px;
    margin-bottom: 40px;
}

.right-contact {
    background: var(--right-contact-icon-round);
    width: 100%;
    max-width: 42px;
    height: 42px !important;
    color: #FFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;

}

.right-contact-text h3 a {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--right-contact-wrapper-text);
}

.right-contact-text h4 a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: var(--right-contact-wrapper-text);
}




/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 1280px) and (max-width: 1399px) {

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 549px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 601px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */

@media screen and (min-width: 1200px) and (max-width: 1279px) {

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 549px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 601px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100%;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 460px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 513px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 912px) and (max-width: 1023px) {
    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100%;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 342px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 395px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 820px) and (max-width: 911px) {
    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100%;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 342px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 395px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 768px) and (max-width: 819px) {
    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100%;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 342px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 395px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 541px) and (max-width: 767px) {
    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100%;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        position: relative;
        margin-top: 30px;
    }

    .contact-us-section .title::before {
        left: 45% !important;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 233px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 288px;
            width: 0px;
        }
    }


}

/* ============================================================= */
/* ============================================================= */
@media screen and (min-width: 412px) and (max-width: 540px) {

    .contact-us-section .title::before {
        left: 45% !important;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 233px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 288px;
            width: 0px;
        }
    }

    .left-contact-wrapper {
        background: var(--left-contact-wrapper-bg);
        border: 1px solid var(--left-contact-wrapper-border);
        width: 100%;
        height: 100%;
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 15px !important;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 10px !important;
    }

    .left-contact-wrapper .submit-btn a {
        padding: 10px 50px 10px 50px;
        background: var(--left-contact-submit-btn-bg);
        border: 1px solid var(--left-contact-submit-btn-bg);
        border-radius: 90px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: var(--left-contact-submit-btn-text);
        text-transform: capitalize;
        transition: 0.3s;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 420px;
        padding: 30px 30px 10px 30px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .right-contact-text h4 a {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--right-contact-wrapper-text);
    }

    .right-contact-main {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (max-width: 414px) {

    .contact-us-section .title::before {
        left: 41% !important;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 160px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 215px;
            width: 0px;
        }
    }

    .left-contact-wrapper {
        background: var(--left-contact-wrapper-bg);
        border: 1px solid var(--left-contact-wrapper-border);
        width: 100%;
        height: 100%;
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 15px !important;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 10px !important;
    }

    .left-contact-wrapper .submit-btn a {
        padding: 10px 50px 10px 50px;
        background: var(--left-contact-submit-btn-bg);
        border: 1px solid var(--left-contact-submit-btn-bg);
        border-radius: 90px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: var(--left-contact-submit-btn-text);
        text-transform: capitalize;
        transition: 0.3s;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 420px;
        padding: 30px 30px 10px 30px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .right-contact-text h4 a {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--right-contact-wrapper-text);
    }

    .right-contact-main {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (max-width: 393px) {

    .contact-us-section .title::before {
        left: 41% !important;
    }

    .left-contact-wrapper {
        background: var(--left-contact-wrapper-bg);
        border: 1px solid var(--left-contact-wrapper-border);
        width: 100%;
        height: 100%;
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 15px !important;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 10px !important;
    }

    .left-contact-wrapper .submit-btn a {
        padding: 10px 50px 10px 50px;
        background: var(--left-contact-submit-btn-bg);
        border: 1px solid var(--left-contact-submit-btn-bg);
        border-radius: 90px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: var(--left-contact-submit-btn-text);
        text-transform: capitalize;
        transition: 0.3s;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 30px 30px 10px 30px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .right-contact-text h4 a {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--right-contact-wrapper-text);
    }

    .right-contact-main {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 152px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 205px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (max-width: 390px) {

    .contact-us-section .title::before {
        left: 41% !important;
    }

    /* .contact-us-section .title::after {
        left: 43%;
        animation: none;
    } */
    .left-contact-wrapper {
        background: var(--left-contact-wrapper-bg);
        border: 1px solid var(--left-contact-wrapper-border);
        width: 100%;
        height: 100%;
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 15px !important;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 10px !important;
    }

    .left-contact-wrapper .submit-btn a {
        padding: 10px 50px 10px 50px;
        background: var(--left-contact-submit-btn-bg);
        border: 1px solid var(--left-contact-submit-btn-bg);
        border-radius: 90px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: var(--left-contact-submit-btn-text);
        text-transform: capitalize;
        transition: 0.3s;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 30px 30px 10px 30px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .right-contact-text h4 a {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--right-contact-wrapper-text);
    }

    .right-contact-main {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 152px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 205px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (max-width: 375px) {

    .contact-us-section .title::before {
        left: 43% !important;
    }

    .left-contact-wrapper {
        background: var(--left-contact-wrapper-bg);
        border: 1px solid var(--left-contact-wrapper-border);
        width: 100%;
        height: 100%;
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 60px 50px 10px 50px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 15px !important;
    }

    .left-contact-wrapper label {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: var(--left-contact-wrapper-label);
        margin-bottom: 10px !important;
    }

    .left-contact-wrapper .submit-btn a {
        padding: 10px 50px 10px 50px;
        background: var(--left-contact-submit-btn-bg);
        border: 1px solid var(--left-contact-submit-btn-bg);
        border-radius: 90px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: var(--left-contact-submit-btn-text);
        text-transform: capitalize;
        transition: 0.3s;
    }

    .right-contact-wrapper {
        background: var(--right-contact-wrapper-bg);
        border: 1px solid var(--right-contact-wrapper-border);
        box-shadow: 0px 20px 50px rgb(34 37 40 / 10%);
        border-radius: 20px;
        width: 100% !important;
        height: 460px;
        padding: 30px 30px 10px 30px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .right-contact-text h4 a {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--right-contact-wrapper-text);
    }

    .right-contact-main {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 152px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 205px;
            width: 0px;
        }
    }
}

/* ============================================================= */
/* ============================================================= */
@media screen and (max-width: 320px) {
    .contact-us-section .title::after {
        /* left: 49% !important; */
        animation-name: contacttitlebefore;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes contacttitlebefore {
        0% {
            left: 125px;
            width: 10px;

        }

        50% {
            width: 10px;
        }

        90% {
            width: 10px;
        }

        100% {
            left: 182px;
            width: 0px;
        }
    }

    .right-contact {
        background: var(--right-contact-icon-round);
        width: 100%;
        max-width: 35px;
        height: 35px !important;
        color: #FFF !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 90px;
    }

    .right-contact-text h3 {
        margin-bottom: -5px !important;
    }

    .right-contact-text h3 a {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        color: var(--right-contact-wrapper-text);

    }

    .right-contact-text h4 a {
        font-family: Poppins;
        font-size: 11px;
        font-weight: 400;
        line-height: 17px;
        color: var(--right-contact-wrapper-text);
    }
}