/* about-us */
.about-us{
    padding-top: 200px;
    overflow: hidden;
}

.about-us .about-text h4{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: var(--BeVietnamPro-SemiBold)
}

.about-us .about-text h2{
    color: var(--secondary-color);
    font-size: 48px;
    font-family: var(--BeVietnamPro-Bold);
}

.about-us .about-text{
    margin-bottom: 35px;
}

.about-us p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
    font-family: var(--BeVietnamPro-Regular);
    color: #555261;
}

.about-us .about-author-name{
    margin-top: 50px;
    margin-bottom: 15px;
}

.about-author-name h4{
    font-size: 24px;
    color: var(--primary-color);
    font-family: var(--BeVietnamPro-SemiBold)
}

.about-author-name span{
    color: var(--secondary-color);
    font-size: 16px;
    font-family: var(--BeVietnamPro-Regular);
}

.about-us .author-sign{
    max-width: 213px;
    /* height: 58px; */
}

.about-us .author-sign img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-us .about-frame{
    position: relative;
    border-radius: 20px;
}

.about-us .about-frame .about-left-im{
    position: absolute;
    right: -35px;
    top: -85px;
}

.about-us .about-img{
    max-width: 617px;
    /* height: 670px; */
    border: 1px solid #FFB9CE;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 6;
    overflow: hidden;
    background: var(--common-white);
}

.about-us .about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* why-beutic */
.why-butterfly-wrap .why-butterfly-data{
    background: linear-gradient(43.01deg, #FFE9F1 19.04%, rgba(255, 233, 241, 0.28) 69.77%);
    border-radius: 30px;
    padding: 100px;
}

.why-butterfly-wrap .subheading-img{
    max-width: 66px;
    height: 58px;
    margin: 0 auto;
} 

.why-butterfly-wrap .subheading-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.why-butterfly-wrap .title{
    margin-bottom: 50px;
}

.why-butterfly-wrap .title h2{
    font-size: 40px;
    font-family: var(--BeVietnamPro-ExtraBold);
    color: var(--primary-color);
}

.why-butterfly-wrap .title p{
    font-size: 16px;
    font-family: var(--BeVietnamPro-Regular);
    color: #4E447D;
}
 
.why-butterfly-wrap .why-icon{
    background-color: var(--common-white);
    max-width: 96px;
    height: 96px;
    border: 1px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 0 auto 35px;
}

.why-butterfly-wrap .why-icon img{
    max-width: 50px;
    height: 50px;
    object-fit: contain;
}

.why-butterfly-wrap .natural-data{
    position: relative;
}

.why-butterfly-wrap .natural-data .natural-left-line{
    position: absolute;
    left: -155px;
    top: 50px;
}

.why-butterfly-wrap .natural-data .natural-right-line{
    position: absolute;
    right: -155px;
    top: 50px; 
}

.why-butterfly-wrap .why-beautic-content h5{
  font-size: 18px;
  font-family: var(--BeVietnamPro-SemiBold);
  margin-bottom: 12px;
  color: var(--primary-color);
}

.why-butterfly-wrap .why-beautic-content p{
    color: #555261;
    font-size: 14px;
    font-family: var(--BeVietnamPro-Regular);
    line-height: 20px;
}


/* client-wrap */
.client-wrap .title{
    margin-bottom: 50px;
}

.client-wrap .title h2{
    font-size: 40px;
    font-family: var(--BeVietnamPro-ExtraBold);
    color: var(--primary-color);
}

.client-wrap .title p{
    font-size: 16px;
    font-family: var(--BeVietnamPro-Regular);
    color: #4E447D;
}

.client-wrap  .clients-card{
    border: 1px solid #FFB9CE;
    border-radius: 20px;
    padding: 40px 30px;
}

.client-wrap  .clients-quote-img{
    max-width: 80px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
.client-wrap .clients-quote-img::before {
    content: "";
    position: absolute;
    background: var(--secondary-color);
    opacity: 0.1;
    bottom: -17px;
    left: -7px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
}
.offering .owl-carousel .owl-item.active.center .clients-quote-img::before {
    width: 60px;
    height: 60px;
    bottom: -15px;
    left: -8px;
}

.client-wrap  .clients-quote-img svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.client-wrap  .clients-quote-img svg{
    fill: var(--secondary-color) !important;
}

.client-wrap .clients-con p{
    font-size: 16px;
    color: #555261;
    font-family: var(--BeVietnamPro-Regular);
    margin: 30px 0 20px;
}

.client-wrap .client-name h4{
    font-size: 24px;
    font-family: var(--BeVietnamPro-SemiBold);
}

.client-wrap .client-name p{
    font-size: 16px;
    color: var(--secondary-color);
    font-family: var(--BeVietnamPro-Regular);
}

/*client slider */
.offering .owl-carousel .owl-item{
    transition: 0.5s linear;
    transform: translateY(00px);
}

.offering .owl-carousel .owl-item.active.test1,
.offering .owl-carousel .owl-item.active.test3
{
    transform: translateY(70px);
    opacity: 0.5;
}

.offering .owl-carousel .owl-item.active.center{
    background: #FFFFFF;
    box-shadow: 0px 7px 25px rgba(249, 38, 114, 0.1);
}

.offering .owl-carousel .owl-item img {
    width: auto !important;
}

.offering .owl-stage-outer{
    padding-bottom: 100px;
}

.offering .owl-carousel .owl-dots.disabled{
    display: block !important;
}

.offering .owl-theme .owl-dots .owl-dot.active span{
    width: 20px;
    height: 10px;
    background-color: var(--secondary-color);
}

.offering .owl-theme .owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    background-color: #FFE5EF;
}

.offering .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--secondary-color);
}

.client-wrap .owl-carousel .owl-nav button {
    display: none !important;
}


/*======= responsive =======*/
@media only screen and (max-width:1400px){
    
}

@media only screen and (max-width: 1200px){
    .client-wrap .title h2,
    .why-butterfly-wrap .title h2,
    .about-us .about-text h2
    {
        font-size: 35px;
    }

    .about-us{
        padding-top: 100px;
        padding-bottom:50px ;
    }

    /* .p-100{
        padding: 50px 0;
    } */
    .offering .owl-carousel .owl-item.active.test1, .offering .owl-carousel .owl-item.active.test3{
        opacity: 1;
    }

}

@media only screen and (max-width: 991px){
     
    .about-us{
        padding-top: 50px;
    }

    .client-wrap .title h2,
    .why-butterfly-wrap .title h2,
    .about-us .about-text h2
    {
        font-size: 25px;
    }

    .client-wrap .title p,
    .why-butterfly-wrap .title p,
    .about-us p
    {
        font-size: 14px;
    }

    .why-butterfly-wrap .natural-data .natural-left-line,
    .why-butterfly-wrap .natural-data .natural-right-line
    {
        display: none;
    }

    .why-butterfly-wrap .why-butterfly-data{
        padding: 50px;
    }

    .why-butterfly-wrap .why-icon{
        
    margin: 0 auto 20px
    }

    .about-us .about-text h4,
    .about-author-name h4
    {
        font-size: 20px;
    }

    .about-us .about-img{
        max-width: 100%;
        height: 500px;
    }

    .client-wrap .clients-card{
        padding: 30px 20px;
    }

    .about-us .about-frame .about-left-im{
        right: -35px;
        top: -57px;
        max-width: 100px;
    
    }

    .about-us .about-frame{
        margin-top: 20px;
    }
    .offering .owl-carousel .owl-item.active.test1, .offering .owl-carousel .owl-item.active.test3 {
        transform: translateY(0px);
    }
    .offering .owl-stage-outer {
        padding-bottom: 50px;
    }
    
}

@media only screen and (max-width:768px){
    .why-butterfly-wrap .why-butterfly-data{
        padding: 30px 20px;
    }

    .about-us .about-img{
        height: 450px;
    }

    .about-us .about-text{
        margin-bottom: 25px;
    }

    .about-us p{
        margin-bottom: 20px;
        line-height: 25px;
    }

    .about-us .about-author-name {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .about-us .author-sign{
        max-width: 180px;
    }

    .client-wrap .title{
        margin-bottom: 0;
    }

    .client-wrap .clients-con p{
        font-size: 14px;
    }

    .client-wrap .client-name h4{
        font-size: 20px;
    }

    
}


@media only screen and (max-width:768px){
    .offering .owl-carousel .owl-item.active.test1, .offering .owl-carousel .owl-item.active.test3{
        opacity: 1;
    }

    .why-butterfly-wrap .why-icon{
        max-width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width:575px){
    .about-us .about-img{
        height: 350px;
    }
}

@media only screen and (max-width:420px){
    .about-us .about-img{
        height: 250px;
    }
}