a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

h1 {
    font-size: 45px !important;
}

h2 {
    font-size: 40px !important;
    font-family: var(--BeVietnamPro-ExtraBold);
    line-height: 40px !important;
}

p {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 20px;
}

.p-100 {
    padding: 100px 0px;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}


/* ---title-csss---- */
.title h2 {
    color: var(--title-first-color);
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.title h2::before {
    content: url(../images/home-page/title-common-img.png);
    position: absolute;
    top: -55px;
    left: 50%;
    width: 100%;
    max-width: 60px;
}

.title p {
    color: var(--common-pera-color);
    text-align: center;
}


/* ------common-cardd-css---- */
.card {
    width: 100%;
    min-height: 427px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--card-bg-color);
    border: 1px solid var(--card-border-color) !important;
    border-radius: 20px !important;
    margin-top: 50px;
    transition: 0.3s;
    overflow: hidden;
    /* box-shadow: 0px 0px rgba(0,0,0,0.6); */
}

/* .card:hover, .add-cart-btn{
    border: 1px solid var(--secondary-color) !important;
    box-shadow: 0px 10px 50px rgba(249, 38, 114, 0.12) !important;
} */
/* .card:hover .add-cart-btn{
    bottom: 0px !important;
} */
.card-header {
    background: var(--card-img-bg) !important;
    border: none !important;
    width: 100% !important;
    min-height: 100% !important;
    border-radius: 20px !important;
    margin-top: 16px !important;
    /* margin-left: 15px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px !important;
    position: relative;
}

/* .card-header::before{
   content: "\f08a";
   font-family: "FontAwesome";
   position: absolute;
   width: 30px !important;
   height: 30px !important;
   background: var(--common-white);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   top: 5px;
   right: 7px;
  
} */
.card-header img {
    width: 100%;
    max-width: 220px;
    height: 200px;
}

.card-header h5 {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color);
    position: absolute;
    top: 14px;
    left: 12px;
}

.add-cart-btn {
    background: var(--card-btn-bg) !important;
    border: 1px solid var(--card-btn-bg);
    font-family: var(--Poppins-SemiBold);
    font-size: 16px;
    line-height: 23px;
    color: var(--common-white) !important;
    border-radius: 10px 10px 0px 0px;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 145px;
    margin: 0px auto;
    transition: 0.4s;

}

.add-cart-btn input[type=text] {
    color: #000 !important;
    height: 100%;
    outline: 0 !important;
}

.add-cart-btn .input-qty {
    border-bottom: 2px solid var(--card-btn-bg) !important;
}

.add-cart-btn.product-detail-quentity .qty-container {
    border: none;
}

.add-cart-btn.product-detail-quentity .qty-container i {
    color: var(--common-white);
}

.add-cart-btn span {
    margin-right: 10px;
}

.card-btn {
    text-align: center;
}

/* -----checkbox-css----- */
.techno-check {
    position: relative;
}

.techno_checkbox {
    position: absolute;
    top: 22px;
    right: 17px;
    opacity: 0;
    width: 30px;
    height: 30px;
    z-index: 999;
    cursor: pointer;
    border-radius: 50% !important;
}

.techno_checkbox:checked~.card::before {
    content: "\f004";
    font-family: "FontAwesome";
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    background: var(--common-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 21px;
    right: 22px;
    color: var(--secondary-color) !important;
    z-index: 1;
}


/* ------common-bg and commom-h2-title--- */
.common-banner-bg {
    background: url(../images/common-title-bg.png) !important;
    width: 100%;
    height: auto !important;
    padding-top: 200px !important;
    padding-bottom: 80px !important;
    background-size: cover;
}

.common-banner-bg h1 {
    font-family: var(--BeVietnamPro-Medium);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    color: var(--title-first-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: "\f105" !important;
    font-family: "FONTAWESOME";
}

.breadcrumb-item {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.breadcrumb-item a {
    color: var(--common-pera-color) !important;
}

.breadcrumb {
    margin-top: 25px;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.breadcrumb>.active {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--secondary-color) !important;
}

.common-banner-bg nav {
    justify-content: center;
}




/* -------user-login-dropdown-- */
.user-login-icon {
    position: relative;
}

.user-login-dropdow {
    background: var(--common-white);
    border: 1px solid var(--card-border-color);
    box-shadow: 0px 10px 25px rgb(34 37 40 / 5%);
    width: 190px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 60px;
    right: 80px;
    padding-bottom: 10px;
    z-index: 20;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.user-login-dropdow::before {
    content: "";
    position: absolute;
    border-style: solid;
    /* background: var(--common-white) !important; */
    border-width: 0px 10px 20px 10px;
    border-color: transparent transparent #FFE5EF transparent;
    box-shadow: 0px 10px 25px rgb(255 255 255 / 5%) !important;
    top: -21px;
    left: 80px;
}

.active.user-login-dropdow {
    opacity: 1;
    visibility: visible;
}

.user-login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-top: 10px;
    padding-left: 15px;
}

.user-login-header h4 {
    font-family: var(--BeVietnamPro-Medium);
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    color: #0F053F;
}

.user-login-header h3 a {
    font-family: var(--BeVietnamPro-ExtraBold);
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--secondary-color);
    background: none !important;
    width: 100%;
}

.user-data-wrapper {
    border-top: 1px solid rgba(34, 37, 40, 0.3);
    padding-left: 15px;
    padding-right: 15px;
}

.user-data-wrapper a {
    background: none !important;
    font-family: var(--BeVietnamPro-Medium);
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--primary-color) !important;
    width: 100% !important;
    text-align: left !important;
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
    transition: 0.3s;

}

.user-data-wrapper a span {
    color: var(--secondary-color) !important;
    margin-right: 10px;
    font-size: 15px;

}

.user-data-wrapper a:hover,
.user-data-wrapper a:active {
    transform: translateX(5px);
    color: var(--secondary-color) !important;
}




/* --------- cart-dropdown-css--------- */
.cart-icons {
    position: relative;
}

.cart-dropdwon {
    background: var(--common-white);
    border: 1px solid var(--card-border-color);
    box-shadow: 0px 10px 25px rgba(34, 37, 40, 0.05);
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    right: 80px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translateY(20px);
}

.cart-drop-wrapper {
    height: 100%;
    max-height: 290px !important;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.active.cart-dropdwon {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    transform: translateY(0px);
    z-index: 999;
}

.cart-dropdwon::before {
    content: "";
    position: absolute;
    border-style: solid;
    /* background: var(--common-white) !important; */
    border-width: 0px 10px 20px 10px;
    border-color: transparent transparent #FFE5EF transparent;
    box-shadow: 0px 10px 25px rgba(34, 37, 40, 0.05) !important;
    top: -21px;
    left: 250px;
}


.cart-drop-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -5px;
    border-bottom: 0.5px solid #FFB9CE;
}

.cart-drop-wrapper .cart-drop-menu:last-child {
    border-bottom: none !important;
}

.cart-dropdwon>.cart-drop-menu-2 {
    margin-top: -15px !important;
    padding-top: 5px;
}

.cart-dropdwon>.cart-drop-menu-3 {
    margin-top: -15px !important;
    padding-top: 5px;
}

.drop-img {
    background: var(--common-white);
    border: 1px solid var(--card-border-color);
    box-shadow: 0px 10px 25px rgba(34, 37, 40, 0.05);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-img img {
    width: 100%;
    max-width: 40px !important;
}

.drop-img a {
    background: none !important;
}

.drop-text h4 {
    max-width: 100%;
    width: 130px;
    font-family: var(--BeVietnamPro-Medium);
    font-size: 13px;
    line-height: 18px;
    color: var(--drop-cart-text-1);
    margin-top: 13px;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    max-height: 35px !important;
}

.drop-text h4 a {
    width: 100%;
    font-family: var(--BeVietnamPro-Medium);
    color: var(--drop-cart-text-1) !important;
    background: none !important;
    height: 100%;
}

.drop-text p {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: var(--drop-cart-text-2);
    margin-bottom: 0px;
}

.drop-text h3 {
    font-family: var(--BeVietnamPro-ExtraBold);
    font-size: 15px;
    line-height: 30px;
    color: var(--drop-cart-number);
}

.cancel-btn a {
    background: none !important;
    font-size: 18px;
    margin-left: 0px;
    color: var(--secondary-color) !important;
}

.cart-dropdwon hr {
    background: var(--drop-cart-bottom-border) !important;
    height: 1px !important;
    position: relative;
    left: -5px;
    top: 0px;
    width: 100%;
}

.total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.total-amount p {
    font-family: var(--BeVietnamPro-Medium);
    font-size: 16px;
    line-height: 20px;
    color: var(--drop-cart-text-1);
    margin-bottom: 0px;
}

.total-amount h3 {
    font-family: var(--BeVietnamPro-ExtraBold);
    font-size: 16px;
    line-height: 30px;
    color: var(--drop-cart-number);
}

.drop-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.drop-btns .view-cart {
    background: var(--secondary-color) !important;
    padding: 10px 20px 10px 20px !important;
    font-family: var(--BeVietnamPro-ExtraBold) !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: var(--common-white) !important;
    border-radius: 10px !important;
    display: inline;
    width: 150px !important;
    height: 40px !important;
    text-transform: capitalize;
    text-align: center;
    transition: 0.5s;
}


.drop-btns .view-cart:hover {
    transform: translateY(-10px);
}

.drop-btns .checkout {
    background: var(--primary-color) !important;
    padding: 10px 20px 10px 20px !important;
    font-family: var(--BeVietnamPro-ExtraBold);
    font-size: 14px;
    line-height: 20px;
    color: var(--common-white) !important;
    border-radius: 10px !important;
    width: 150px !important;
    height: 40px !important;
    text-transform: capitalize;
    transition: 0.5s;
    text-align: center;
}

.drop-btns .checkout:hover {
    transform: translateY(-10px);
}

.cancel-btn a {
    position: relative;
    /* left: 10px; */
}

@media only screen and (max-width:1200px) {
    .p-100 {
        padding: 80px 0;
    }
}