footer{
    padding-top: 150px;
    position: relative;
    /* background: url(../images/Bg.svg); */
    /* background-position: center;
    background-repeat: no-repeat; */
    width: 100%;
    /* height: 100%; */
    /* background-size: cover; */
    z-index: 2;
    /* filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%); */
}

#Layer_1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
 svg path{
    fill: var(--footer-bg-color) !important;
}


.foot-1 h4{
    font-family: var(--BeVietnamPro-SemiBold);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--footer-text-primary);
    margin-top: 36px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.foot-1 p{
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 23px;
    color: var(--footer-text-secondary);
}
.foot-btn{
    display: flex;
    align-items: center;
    gap: 21px;
}
.foot-btn a{
    transition: 0.3s;
}
.foot-btn a:hover{
   transform: scale(1.1);
}
.foot-payment-icons{
    margin-top: 25px;
}
.foot-payment-icons ul{
    display: flex;
    align-items: center;
    gap: 14px;
    padding-left: 0px;
}
.foot-payment-icons ul li a{
    transition: 0.3s;
}
.foot-payment-icons ul li a:hover{
    transform: translateX(2px) !important; 
}

.foot-2 {
    padding-left: 80px;
}
.common-links h3{
    font-family: var(--BeVietnamPro-SemiBold);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--footer-text-primary);
    position: relative;
    margin-bottom: 39px;
    text-transform: capitalize;
}
.common-links h3::before{
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    background: var(--title-underline-1);
    width: 60px;
    height: 3px;
    border-radius: 20px;
}
.common-links h3::after{
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    background: var(--title-underline-2);
    width: 23px;
    height: 3px;
    border-radius: 20px;
    animation: titleafter;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.common-links ul{
    padding-left: 0px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.common-links ul li{
    transition: 0.3s;
    display: inline-block;
}
.common-links ul li a{
    font-family: var(--BeVietnamPro-Medium);
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: var(--footer-text-secondary) !important;
    text-transform: capitalize;
    transition: 0.3s;
    display: inline-block;
}
.common-links ul li a:hover{
    color: var(--footer-link-hover) !important;
    transform: translateX(5px) !important;
}

.common-links ul li a span{
    margin-right: 10px;
}

.foot-4{
    padding-left: 20px;
}
.foot-4 h4{
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--footer-text-secondary);
    display: inline-block;
    margin-bottom: 15px;
}
.foot-4 h4 span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--footer-text-primary);
    text-transform: capitalize;
    display: inline-block;
}
.foot-4 h4 a{
    margin-top: 0px !important;
}
.foot-4 a{
    display: inline-flex;
    align-items: center;
    /* margin-right: 9px; */
    margin-top: 7px !important;
    margin-left: 5px;
    font-family: var(--BeVietnamPro-Regular);
    color: var(--footer-text-secondary) !important;
}

.footer-left-img {
    position: absolute;
    bottom: 140px;
    left: 25px;
    width: 100%;
    max-width: 100px;
    z-index: 0;
}
.footer-right-img {
    position: absolute;
    right: 0;
    top: 250px;
    width: 100%;
    max-width: 200px;
    z-index: -1;
}




/* ----copy-right---- */
.copy-right{
    background: var(--copy-right-bg);
    padding-top: 13px;
    padding-bottom: 12px;
    margin-top: 71px;
}
.copy-right-content{
    text-align: center;
}
.copy-right h3{
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 25px;
    color: var(--common-white);
    margin-bottom: 0px;
}
.foot-social-icons ul{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin-bottom: 0px;
}
.foot-social-icons ul li a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #555261;
    color: var(--common-white) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: 0.3s;
    line-height: 1;
}
.foot-social-icons ul li a:hover{
  background: var(--secondary-color);
  color: var(--common-white) !important;
  transform: translateY(-5px) !important;
}


@media only screen and (max-width: 768px){
    footer path {
        display: none;
    }

    footer {
        background: var(--footer-bg-color);
        padding-top: 70px;
    }
}
