.product-listing-1 {
    background: #fff;
}

.product-categires-part {
    background: var(--listing-2-ctg-bg);
    border: 1px solid var(--listing-2-ctg-border);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(34 37 40 / 5%);
    margin-top: 50px;
}

.categire-header {
    background: var(--listing-2-header-bg);
    border: 1px solid #FFE8EF;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 58px;
    padding-top: 16px;
    padding-left: 26px;
}

.categire-header h3 {
    font-family: var(--BeVietnamPro-Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: var(--listing-2-header-text);
}

.ctg-left {
    padding-left: 36px !important;
}


.ctg-left h4 {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 48px;
    color: var(--listing-2-normal-text) !important;
    margin-bottom: 0px;
}

.ctg-left h4 a {
    color: var(--listing-2-normal-text) !important;
    transition: 0.3s;
}

.ctg-left h4 a:hover {
    color: #F92672 !important;
}

.ctg-right h5 {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 48px;
    color: var(--listing-2-normal-text);
    margin-bottom: 0px;
}

.lisitng-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lisitng-1 h4 {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 22px;
    color: var(--listing-text-1);
}

.right-list {
    display: flex;
    align-items: center;
    position: relative;
    width: 370px;
    margin-right: 0px;
}

.viwe-type {
    margin-right: 20px !important;
    width: fit-content;
    width: fit-content;
    display: flex;
    gap: 6px;
    margin-right: 0px;
    margin-left: -30px;
    position: relative;
    top: 3px;
}

.viwe-type a {
    display: inline-flex;
    align-items: center;
    align-items: center;
    gap: 6px;
    color: var(--list-icon-color-2) !important;
    position: relative;
    top: -3px;
}

.short-by-dropdown {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.short-by-dropdown .form-select {
    width: 100% !important;
    max-width: 100% !important;
    height: 36px !important;
    padding-left: 11px !important;
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 20px;
    background: url(../images/selectarrow.png) !important;
    background-repeat: no-repeat !important;
    background-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-y: 15px !important;
    background-position-x: 140px !important;
    margin-left: 60px;
    border: none !important;
    color: var(--listing-text-1);
    cursor: pointer;
}

.short-by-dropdown .form-select:focus {
    box-shadow: none !important;
    border: none !important;

}

.filter-icon {
    width: 100% !important;
    max-width: 125px;
    height: 50px !important;
    border-radius: 10px;
    background: var(--listing-filter-icon-bg);
    border: 1px solid var(--listing-filter-icon-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    color: var(--common-white) !important;
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.filter-icon:hover{
    font-family: var(--BeVietnamPro-Regular);
    background: transparent;
    color: var(--listing-filter-icon-bg) !important;
    border: 1px solid var(--listing-filter-icon-bg);
}



.pagination-part {
    margin-top: 92px;
}

.pagination {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.page-link {
    width: 38px;
    height: 38px;
    border-radius: 10px !important;
    background: #F6FBFF !important;
    color: var(--primary-color) !important;
    transition: 0.3s;
    font-family: var(--BeVietnamPro-Bold);
    font-size: 16px;
    line-height: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.pagination .page-item:last-child .page-link{
    background: #0F053F !important;
    color: #fff !important;
}
.pagination .page-item:last-child .page-link:hover{
    box-shadow: none;
}

.page-link:hover {
    background: var(--secondary-color) !important;
    color: #fff !important;
    box-shadow: 0px 7px 20px rgba(249, 38, 114, 0.25);
}

.cate-wrp{
    height: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------price-range--- */
.product-categires-part {
    margin-bottom: 40px;
    padding: 11px;
}

.price-range-part {
    height: 180px !important;
    margin-top: 0px;

}

.brands-part {
    margin-top: 0px;

}

.discoutn-part {
    /* height: 480px !important; */
    margin-top: 0px;
}

.discoutn-part .cate-wrp{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------.price-range-part---- */
[slider] {
    width: 240px !important;
    position: relative;
    height: 5px;
    margin: 66px 0 10px 20px;
}

[slider]>div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 5px;
}

[slider]>div>[inverse-left] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider]>div>[inverse-right] {
    position: absolute;
    right: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}


[slider]>div>[range] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 14px;
    background-color: #F92672;
}

[slider]>div>[thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}

[slider]>input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    opacity: 0;
}

div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider]>input[type=range]:focus {
    outline: none;
}

div[slider]>input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider]>input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-tooltip {
    display: none;
}

[slider]>div>[sign] {
    opacity: 1;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    /* background-color: #d02128; */
    color: var(--listing-2-header-text);
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}



[slider]>div>[sign]>span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover>div>[sign] {
    opacity: 1;
}

.discoutn-part .form-check-input[type=checkbox] {
    position: relative;
    top: 12px;
}

.discoutn-part .form-check-input[type=checkbox]:focus {
    box-shadow: none !important;
    border: 1px solid #BBC2CB;
}

.form-check-input:checked[type=checkbox] {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e) !important; */
    background-color: #F92672 !important;
}

.form-check-input:checked {
    border-color: var(--secondary-color) !important;
}


/* ----mobile-fliter-icon--- */
.mobile-filter-icon a {
    width: 50px !important;
    height: 50px !important;
    border-radius: 10px;
    background: #2BAE4A;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.mob-btm-filter-btn .cleart-fliter-btn {
    padding: 10px 20px 10px 20px;
    background: var(--common-white);
    color: var(--drop-cart-number) !important;
    border: 1px solid var(--drop-cart-bottom-border);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.mob-btm-filter-btn .show-result-btn {
    padding: 10px 20px 10px 20px;
    background: var(--header-btn-color);
    color: var(--common-white) !important;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.mobile-filter-icon {
    display: block;
}

.filter-part {
    display: block;
}

/* -----filter-side-bar-mobile-viwe--- */

.sidepanel .filter-part {
    display: block;
    width: 100% !important;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 20;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--common-white);
    box-shadow: 2px 0px 5px rgb(0 0 0 / 40%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background: none !important;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 19px;
    right: 13px;
    font-size: 30px;
    color: #fff !important;
    background: #F92672;
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidepanel .closebtn > span{
    margin-top: -5px;
}

.openbtn:hover {
    background-color: #444;
}


/* ---cart-dropdown-data--- */
.sidepanel .product-categires-part {
    background: none !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    margin-top: 25px !important;
    width: 100%;
}

.sidepanel .categire-header {
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}

.sidepanel .ctg-left h4 a {
    transition: 0.3s;
    font-size: 14px;
    width: 100% !important;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-top: 12px;
    height: 28px !important;
}


.sidepanel .ctg-left {
    padding-left: 5px !important;
}

.sidepanel .ctg-left .form-check {
    margin-left: 18px;
    margin-top: -5px;
    height: 28px;
}
.sidepanel .ctg-left .form-check{
    padding-top: 3px;
}

.sidepanel [slider] {
    width: 270px !important;
}

.sidepanel .discoutn-part .form-check-input[type=checkbox] {
    position: relative;
    top: 15px;
}

.sidepanel .ctg-right h5 {
    font-size: 14px;
    height: 28px;
    text-align: center;
}

.sidepanel .categire-header h3 {
    font-size: 15px;
}

.sidepanel .brands-part {
    height: 660px !important;
    margin-top: 0px;
}

.sidepanel .discoutn-part {
    height: 370px !important;
    margin-top: 0px;
}

.sidepanel [slider]>div>[sign] {
    opacity: 1;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    color: var(--listing-2-normal-text);
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.sidepanel .discoutn-part .ctg-left h4 {
    font-size: 12px;
    position: relative;
    top: 14px;
}

.sidepanel .price-range-part {
    height: 110px !important;
    margin-top: 0px;
}

.sidepanel .brands-part {
    height: auto !important;
    margin-top: 10px !important;
}

.sidepanel .ctg-left {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    padding-bottom: 7px;
}

.sidepanel .sub-categories-wrapper h3 {
    font-size: 13px;
    line-height: 20px;
}

.sidepanel .sub-categories-wrapper {
    box-shadow: 0px 7px 15px rgb(34 37 40 / 5%);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob-btm-filter-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px !important;
    margin-bottom: 130px;
    padding-right: 20px !important;
    padding-left: 7px !important;
}
.mob-btm-filter-btn .cleart-fliter-btn {
    padding: 10px;
    background: var(--common-white);
    color: var(--listing-2-normal-text) !important;
    border: 1px solid var(--drop-cart-bottom-border);
    border-radius: 10px;
    font-family: var(--BeVietnamPro-Regular);
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob-btm-filter-btn .show-result-btn {
    padding: 10px;
    background: var(--header-btn-color);
    color: var(--listing-2-normal-text) !important;
    border-radius: 10px;
    font-family: var(--BeVietnamPro-Regular);
    font-size: 12px;
    width: 100% !important;
    line-height: 20px;
    text-transform: capitalize;
    border: 1px solid var(--drop-cart-bottom-border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-filter-btn{
    display: none;
    cursor: pointer;
    z-index: 20;
}

.active.sidepanel{
    width: 25%;
}

/* ------new-filter-css---- */
.main-listing-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mycustom-row{
    overflow: hidden !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.3s;   
}
.show-div-wrapper{
    flex-basis: 100%;
    transition: 0.3s;
}
 .product-listing-wrapper{
    flex-basis: 24%;
    transition: 0.3s; 
}

.my-filter-wrapper{
    flex-basis: 25%;
    display: none;
    transition: 0.3s;
}

.hide.show-div-wrapper{
    flex-basis: 73%;
    transition: 0.3s;
}
.hide.my-filter-wrapper{
    display: block;
    position: relative;
    flex-basis: 25%;
}
.hide.show-div-wrapper .product-listing-wrapper{
    flex-basis: 32%;
    transition: 0.3s;
}
/* ---new-css--- */
.page-link:focus{
  box-shadow: none !important;
}
.product-listing-1 .form-check-label{
    cursor: pointer;
}
.mobile-btn-overlay.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10;
}




 /* ---new-css---- */
    
 .product-categires-part ul{
    padding: 20px 20px;
    margin-bottom: 0px;
}
.product-categires-part ul li{
    display: flex;
    align-items: center;
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 48px;
    color: var(--listing-2-normal-text) !important;
    margin-bottom: 0px;
    transition: 0.3s;
    cursor: pointer;
}

.product-categires-part ul li.active{
    color: var(--secondary-color) !important;
}

.product-categires-part ul li span{
    margin-left: auto;
}
.product-categires-part ul li:hover{
      color: var(--secondary-color) !important;
}


.discount-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    justify-content: space-between;
}
.discount-wrapper .discount-text{
    margin-left: auto;
}
.discount-wrapper h4 {
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 48px;
    color: var(--listing-2-normal-text) !important;
    margin-bottom: 0px;
}
.discount-wrapper h5{
    font-family: var(--BeVietnamPro-Regular);
    font-size: 16px;
    line-height: 48px;
    color: var(--listing-2-normal-text);
    margin-bottom: 0px;
}
.discoutn-part ul{
   padding: 0px 0px !important;
} 




/* =====responisve=== */

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .product-listing-1{
        padding: 70px 0px;
    }
    [slider]{
        width: 290px !important;
    }

    /* ---sideb-bar-css--- */
    .sidepanel [slider] {
        width: 240px !important;
    }


    /* -------new-fliter-css--- */
    
    .hide.my-filter-wrapper{
        flex-direction: 20%;
    }
    .hide.show-div-wrapper {
        flex-basis: 68%;
        transition: 0.3s;
    }
    .hide.my-filter-wrapper{
        display: block;
        position: relative;
        flex-basis: 20%;
    }
    .hide.show-div-wrapper .product-listing-wrapper{
        flex-basis: 32%;
        transition: 0.3s;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product-listing-1{
        padding: 70px 0px;
    }
    .categire-header{
        padding-left: 15px;
    }
    .categire-header h3{
        font-size: 18px;
    }
    .ctg-left h4{
        font-size: 15px;
    }
    .ctg-right h5{
        font-size: 15px;
    }
    .ctg-left {
        padding-left: 30px !important;
    }
    .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .discoutn-part .ctg-right:last-child h5{
        text-align: left;
        margin-left: 3px;
    }
    
     /* ---sideb-bar-css--- */
    .sidepanel [slider] {
        width: 190px !important;
    }
    .sidepanel .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .sidepanel .discoutn-part .end-text{
        text-align: left !important;
        margin-left: 0px !important;
    }
     

    /* -------new-fliter-css--- */
    .hide.my-filter-wrapper{
        flex-direction: 20%;
    }
    .hide.show-div-wrapper {
        flex-basis: 68%;
        transition: 0.3s;
    }
    .hide.my-filter-wrapper{
        display: block;
        position: relative;
        flex-basis: 20%;
    }
   .hide.show-div-wrapper .product-listing-wrapper {
        flex-basis: 48%;
        transition: 0.3s;
    }

}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-listing-1{
        padding: 70px 0px;
    }
    .product-categires-part{
        padding: 0px;
        padding-bottom: 10px;
    }
    .short-by-dropdown .form-select{
        margin-left: 90px;
    }
    .filter-icon {
        width: 100% !important;
        max-width: 100px;
        height: 40px !important;
        gap: 10px;
        font-size: 14px;
    }
    .categire-header{
        padding-left: 15px;
    }
    .categire-header h3{
        font-size: 16px;
    }
    .ctg-left h4{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-right h5{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-left {
        padding-left: 30px !important;
    }
    .discoutn-part {
        height: 430px !important;
        margin-top: 0px;
    }
    .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .discoutn-part .ctg-right:last-child h5{
        text-align: left;
        margin-left: -1px;
    }
     [slider] {
        width: 170px !important;
    }
    .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 8px;
    }
    

    
        
     /* ---sideb-bar-css--- */
    .sidepanel [slider] {
        width: 160px !important;
    }
    .sidepanel .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .sidepanel .discoutn-part .end-text{
        text-align: left !important;
        margin-left: 0px !important;
    }
    .sidepanel .closebtn {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
    .sidepanel .ctg-left h4 a{
        padding-top: 0px;
    }
    .sidepanel .discoutn-part .ctg-left h4 {
        font-size: 12px;
        position: relative;
        top: 8px;
    }
    .sidepanel .ctg-left .form-check {
        padding-top: 0px;
    }
    .sidepanel .end-text{
        margin-left: -3px !important;
    }
    .mob-btm-filter-btn{
        flex-direction: column;
    }
    .mob-btm-filter-btn .cleart-fliter-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
        margin-bottom: 10px;
    }
    .mob-btm-filter-btn .show-result-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
    }
    .card-header h5{
        font-size: 15px !important;
    }



     /* -------new-fliter-css--- */
     .my-filter-wrapper{
        display: none;
     }
     .product-listing-wrapper{
        flex-basis: 32%;
     }
     .hide.my-filter-wrapper{
        flex-direction: 20%;
    }
    .hide.show-div-wrapper {
        flex-basis: 68%;
        transition: 0.3s;
    }
    .hide.my-filter-wrapper{
        display: block;
        position: relative;
        flex-basis: 30%;
    }
   .hide.show-div-wrapper .product-listing-wrapper {
        flex-basis: 48%;
        transition: 0.3s;
    }

    .cate-wrp{
        height: 250px;
    }
   
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    .common-banner-bg nav{
        display: block;
    }
    .product-listing-1{
        padding: 50px 0px;
    }
    .product-categires-part{
        padding: 0px;
        padding-bottom: 10px;
    }
    .short-by-dropdown .form-select{
        margin-left: 0px;
    }
    .filter-part{
        display: none;
    }
    .filter-icon {
        width: 100% !important;
        max-width: 100px;
        height: 40px !important;
        gap: 10px;
        font-size: 14px;
    }
    .categire-header{
        padding-left: 15px;
    }
    .categire-header h3{
        font-size: 16px;
    }
    .ctg-left h4{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-right h5{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-left {
        padding-left: 30px !important;
    }
    .discoutn-part {
        height: 430px !important;
        margin-top: 0px;
    }
    .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .discoutn-part .ctg-right:last-child h5{
        text-align: left;
        margin-left: -1px;
    }
     [slider] {
        width: 170px !important;
    }
    .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 8px;
    }
    .mobile-filter-btn{
        display: block;
        z-index: 20;
    }
    .mobile-filter-btn{
        width: 100%;
        max-width: 40px;
        height: 40px;
        border-radius: 10px;
        background: var(--listing-filter-icon-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--common-white) !important;
    }
    .filter-icon{
        display: none;
    }
    .lisitng-1 h4 {
        width: 100%;
        font-size: 14px !important;
        margin-bottom: 0px;
    }
    

    
        
     /* ---sideb-bar-css--- */
     .sidepanel{
        padding-bottom: 50px;
     }
    .sidepanel [slider] {
        width: 180px !important;
    }
    .sidepanel .discoutn-part .ctg-right h5{
        text-align: center !important;
    }
    .sidepanel .discoutn-part .end-text{
        text-align: left !important;
        margin-left: 0px !important;
    }
    .sidepanel .closebtn {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
    .sidepanel .ctg-left h4 a{
        padding-top: 0px;
    }
    .sidepanel .discoutn-part .ctg-left h4 {
        font-size: 12px;
        position: relative;
        top: 8px;
    }
    .sidepanel .ctg-left .form-check {
        padding-top: 0px;
    }
    .sidepanel .end-text{
        margin-left: -3px !important;
    }
    /* .mob-btm-filter-btn{
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 30% !important;
        z-index: -1;
        display: none;
    }
    .active.sidepanel .mob-btm-filter-btn{
        display: block;
        left: 70% !important;
    } */
    .mob-btm-filter-btn .cleart-fliter-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
        margin-bottom: 10px;
    }
    .mob-btm-filter-btn .show-result-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
    }
    .active.sidepanel{
        width: 40%;
    }




       /* -------new-fliter-css--- */
       .my-filter-wrapper{
        display: none;
     }
     .product-listing-wrapper{
        flex-basis: 48%;
     }
     
}


@media only screen and (min-width: 425px) and (max-width: 575px) {
    .common-banner-bg nav{
        display: block;
    }
    .product-listing-1{
        padding: 50px 0px;
    }
    .lisitng-1{
        flex-direction: column;
        gap: 20px;
    }
    .right-list{
        width: 100%;
    }
    .short-by-dropdown{
        justify-content: space-between;
    }
    .product-categires-part{
        padding: 0px;
        padding-bottom: 10px;
    }
    .short-by-dropdown .form-select{
        margin-left: 0px;
    }
    .filter-part{
        display: none;
    }
    .filter-icon {
        width: 100% !important;
        max-width: 100px;
        height: 40px !important;
        gap: 10px;
        font-size: 14px;
    }
    .categire-header{
        padding-left: 15px;
    }
    .categire-header h3{
        font-size: 16px;
    }
    .ctg-left h4{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-right h5{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-left {
        padding-left: 30px !important;
    }
    .discoutn-part {
        height: 430px !important;
        margin-top: 0px;
    }
    .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .discoutn-part .ctg-right:last-child h5{
        text-align: left;
        margin-left: -1px;
    }
     [slider] {
        width: 170px !important;
    }
    .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 8px;
    }
    .mobile-filter-btn{
        display: block;
        z-index: 20;
    }
    .mobile-filter-btn{
        width: 100%;
        max-width: 40px;
        height: 40px;
        border-radius: 10px;
        background: var(--listing-filter-icon-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--common-white) !important;
    }
    .filter-icon{
        display: none;
    }
    .lisitng-1 > h4 {
        width: 100%;
        font-size: 14px !important;
        margin-bottom: 0px;
        text-align: center;
    }
    

    
     /* ---sideb-bar-css--- */
    .sidepanel [slider] {
        width: 180px !important;
    }
    .sidepanel .discoutn-part .ctg-right h5{
        text-align: center !important;
    }
    .sidepanel .discoutn-part .end-text{
        text-align: left !important;
        margin-left: 0px !important;
    }
    .sidepanel .closebtn {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
    .sidepanel .ctg-left h4 a{
        padding-top: 0px;
    }
    .sidepanel .discoutn-part .ctg-left h4 {
        font-size: 12px;
        position: relative;
        top: 8px;
    }
    .sidepanel .ctg-left .form-check {
        padding-top: 0px;
    }
    .sidepanel .end-text{
        margin-left: -3px !important;
    }
    .mob-btm-filter-btn{
        flex-direction: column;
    }
    .mob-btm-filter-btn .cleart-fliter-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
        margin-bottom: 10px;
    }
    .mob-btm-filter-btn .show-result-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
    }
    .active.sidepanel{
        width: 50%;
    }


     /* -------new-fliter-css--- */
     .my-filter-wrapper{
        display: none;
     }
     .product-listing-wrapper{
        flex-basis: 48%;
     }
    
   
   
}


@media only screen and (min-width: 320px) and (max-width: 424px) {
    .common-banner-bg nav{
        display: block;
    }
    .product-listing-1{
        padding: 50px 0px;
    }
    .lisitng-1{
        flex-direction: column;
        gap: 20px;
    }
    .right-list{
        width: 100%;
    }
    .short-by-dropdown{
        justify-content: space-between;
    }
    .product-categires-part{
        padding: 0px;
        padding-bottom: 10px;
    }
    .short-by-dropdown .form-select {
        margin-left: 0px !important;
    }
    .filter-part{
        display: none;
    }
    .filter-icon {
        width: 100% !important;
        max-width: 100px;
        height: 40px !important;
        gap: 10px;
        font-size: 14px;
    }
    .categire-header{
        padding-left: 15px;
    }
    .categire-header h3{
        font-size: 16px;
    }
    .ctg-left h4{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-right h5{
        font-size: 14px;
        line-height: 40px;
    }
    .ctg-left {
        padding-left: 30px !important;
    }
    .discoutn-part {
        height: 430px !important;
        margin-top: 0px;
    }
    .discoutn-part .ctg-right h5{
        text-align: center;
    }
    .discoutn-part .ctg-right:last-child h5{
        text-align: left;
        margin-left: -1px;
    }
     [slider] {
        width: 170px !important;
    }
    .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 8px;
    }
    .mobile-filter-btn{
        display: block;
        z-index: 20;
    }
    .mobile-filter-btn{
        width: 100%;
        max-width: 40px;
        height: 40px;
        border-radius: 10px;
        background: var(--listing-filter-icon-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--common-white) !important;
    }
    .filter-icon{
        display: none;
    }
    .lisitng-1 > h4 {
        width: 100%;
        font-size: 14px !important;
        margin-bottom: 0px;
        text-align: center;
    }
   
    

    
        
     /* ---sideb-bar-css--- */
    .sidepanel [slider] {
        width: 180px !important;
    }
    .sidepanel .discoutn-part .ctg-right h5{
        text-align: center !important;
    }
    .sidepanel .discoutn-part .end-text{
        text-align: left !important;
        margin-left: 0px !important;
    }
    .sidepanel .closebtn {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
    .sidepanel .ctg-left h4 a{
        padding-top: 0px;
    }
    .sidepanel .discoutn-part .ctg-left h4 {
        font-size: 12px;
        position: relative;
        top: 8px;
    }
    .sidepanel .ctg-left .form-check {
        padding-top: 0px;
    }
    .sidepanel .end-text{
        margin-left: -3px !important;
    }
    .mob-btm-filter-btn{
        flex-direction: column;
    }
    .mob-btm-filter-btn .cleart-fliter-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
        margin-bottom: 10px;
    }
    .mob-btm-filter-btn .show-result-btn{
        width: 100% !important;
        max-width: 120px;
        height: 40px !important;
    }
    .active.sidepanel{
        width: 70%;
    }


     /* -------new-fliter-css--- */
     .my-filter-wrapper{
        display: none;
     }
     .product-listing-wrapper{
        flex-basis: 48%;
     }
     .product-listing-wrapper{
        flex-basis: 48%;
     }  
   
}


  /* ======================================================================= */

  @media only screen and (min-width: 992px) and (max-width: 1199px){
    .product-categires-part ul{
        padding: 10px 10px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1199px){
    .product-categires-part ul{
        padding: 10px 10px;
    }
    .product-categires-part ul li{
        font-size: 14px;
        line-height: 35px;
    }
    .discoutn-part{
        height: auto !important;
    }
    .discount-wrapper h4{
        font-size: 14px;
        line-height: 35px;
    }
    .discount-wrapper h5{
        font-size: 14px;
        line-height: 35px;
    }
    .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 5px !important;
    }
  }   

  @media only screen and (min-width: 576px) and (max-width: 767px){
    .sidepanel .product-categires-part ul li{
        width: 100% !important;
        padding: 0px !important;
        justify-content: flex-start;
    }
    .sidepanel .discount-wrapper {
        padding: 0px 20px;
    }
    .sidepanel .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 11px !important;
    }
    .sidepanel .discoutn-part{
        height: auto !important;
        margin-bottom: 0px;
    }
    .mob-btm-filter-btn .cleart-fliter-btn{
        margin-bottom: 0px;
    }
    .sidepanel .discoutn-part ul{
        padding: 0px 0px !important;
    }
  }

  @media only screen and (min-width: 425px) and (max-width: 575px){
    .sidepanel .product-categires-part ul li{
        width: 100% !important;
        padding: 0px !important;
        justify-content: flex-start;
    }
    .sidepanel .discount-wrapper {
        padding: 0px 10px;
    }
    .sidepanel .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 11px !important;
    }
    .sidepanel .discoutn-part{
        height: auto !important;
        margin-bottom: 0px;
    }
    .mob-btm-filter-btn .cleart-fliter-btn{
        margin-bottom: 0px;
    }
    .mob-btm-filter-btn {
        gap: 10px;
    }
    .sidepanel .product-categires-part ul li{
        font-size: 14px !important;
        line-height: 35px !important;
        height: auto !important ;
    }
    .sidepanel .product-categires-part{
        margin-bottom: 20px !important;
    }
    .sidepanel .price-range-part{
        margin-bottom: 40px !important;
    }
    .sidepanel .product-categires-part ul{
        padding: 10px 10px;
        padding-right: 20px !important;
    }
    .discount-wrapper h4{
        font-size: 14px;
        line-height: 35px;
    }
    .discount-wrapper h5{
        font-size: 14px;
        line-height: 35px;
    }
    .sidepanel .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 4px !important;
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 424px){
    .sidepanel .product-categires-part ul li{
        width: 100% !important;
        padding: 0px !important;
        justify-content: flex-start;
    }
    .sidepanel .discount-wrapper {
        padding: 0px 10px;
    }
    .sidepanel .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 11px !important;
    }
    .sidepanel .discoutn-part{
        height: auto !important;
        margin-bottom: 0px;
    }
    .mob-btm-filter-btn .cleart-fliter-btn{
        margin-bottom: 0px;
    }
    .mob-btm-filter-btn {
        gap: 10px;
    }
    .sidepanel .product-categires-part ul li{
        font-size: 14px !important;
        line-height: 35px !important;
        height: auto !important ;
    }
    .sidepanel .product-categires-part{
        margin-bottom: 20px !important;
    }
    .sidepanel .price-range-part{
        margin-bottom: 40px !important;
    }
    .sidepanel .product-categires-part ul{
        padding: 10px 10px;
        padding-right: 20px !important;
    }
    .discount-wrapper h4{
        font-size: 14px;
        line-height: 35px;
    }
    .discount-wrapper h5{
        font-size: 14px;
        line-height: 35px;
    }
    .sidepanel .discoutn-part .form-check-input[type=checkbox] {
        position: relative;
        top: 4px !important;
    }
}